<div class="modal-header">
  <button
      type="button"
      class="close"
      ng-click="$dismiss();"
      aria-hidden="true">
    &times;
  </button>
  <h4 class="modal-title">Send to Editor</h4>
</div>
<div class="modal-body">
  <div class="form-group row">
    <div class="col-sm-4">
      <select
          id="status"
          class="form-control article-statuses"
          ng-model="status"
          ng-options="status for status in articleStatuses"
          name="status">
      <option>-- Article Status --</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <h5
        for="notes"
        class="col-sm-4">
      <span>Note for Editor</span>
      <small>(Optional)</small>
    </h5>
    <div class="col-sm-12">
      <textarea
          type="text"
          style="height: 150px;"
          class="form-control note-to-editor"
          ng-model="$parent.noteToEditor">
      </textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
      class="btn btn-link"
      ng-click="$dismiss();">
    Cancel
  </button>
  <save-button-old
      color-styling="btn-primary"
      get-promise="sendToEditor(article);"
      config="buttonConfig">
  </save-button-old>
</div>
