@import '_colors';
@import '_sizing';

.mixin-input-container() {

  label.input-container-label {
    color: @interface-color-gray-1;
    font-size: @interface-font-size-1;
    margin-bottom: 10px;
    text-transform: uppercase;

    .input-container-label-has-error {
      color: @interface-color-error;
    }
  }
}
