<button
    title-modal-opener
    modal-title="Add Child Page"
    modal-ok-text="Create Child Page"
    modal-on-ok="addChildPage(title)"
    ng-disabled="addChildPageDisabled"
    class="btn btn-primary btn-sm">
  <i class="fa fa-plus"></i>
  <span>Add New Page</span>
</button>

<div ng-if="relations.length < 1">No child pages yet!</div>

<ol ng-if="relations.length > 0">
  <li
      ng-init="panelClosed = false"
      ng-repeat="relation in relations track by $index">

    <div class="accordion-list-item-meta">
      <button
          ng-click="panelClosed = !panelClosed"
          class="accordion-list-item-meta-label">
        <i
            ng-class="{
              'fa-caret-right': panelClosed,
              'fa-caret-down': !panelClosed
            }"
            class="fa">
        </i>
        <span>{{ relation.title }}</span>
      </button>

      <div class="accordion-list-item-meta-tools">
        <span>{{ relation.published | dateTimeFormat }}</span>

        <span>
          <span>Status:</span>
          <span>{{ relation.status }}</span>
        </span>

        <button
            ng-click="saveChildPage(relation)"
            ng-disabled="ongoingChildTransactions[relation.id]"
            class="btn btn-success btn-sm">
          <i class="fa fa-floppy-o"></i>
          <span>Save</span>
        </button>

        <a
            href="/cms/app/edit/{{ relation.id }}"
            class="btn btn-info btn-sm">
          <i class="fa fa-pencil"></i>
          <span>Edit</span>
        </a>

        <form
            ng-submit="
              $event.preventDefault();
              moveItem($index, relation.order - 1);
              orderingInputForm.$setPristine();
            "
            name="orderingInputForm"
            class="accordion-list-item-meta-tools-order">
          <input
              name="order"
              type="number"
              ng-model="relation.order">
          <button ng-disabled="orderingInputForm.$pristine">
            <i class="fa fa-check"></i>
          </button>
        </form>
        <button
            class="accordion-list-item-meta-tools-order-dir"
            ng-disabled="$index === 0"
            ng-click="moveItem($index, $index - 1)">
          <i class="fa fa-chevron-up"></i>
        </button>
        <button
            class="accordion-list-item-meta-tools-order-dir"
            ng-disabled="$index === relations.length - 1"
            ng-click="moveItem($index, $index + 1)">
          <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div
        ng-hide="panelClosed"
        class="accordion-list-item-content">

      <div>
        status:
        <select ng-model="relation.status">
          <option value="">-- Article Status --</option>
          <option
              ng-repeat="status in statuses track by status.label"
              ng-selected="status.value === relation.status"
              value="{{ status.value }}">
            {{ status.label }}
          </option>
        </select>
      </div>

      <div>
        headline:
        <input ng-model="relation.title">
      </div>
      <div>
        image:
        <betty-editable
            image="relation.image"
            ratio="16x9"
            add-styles="fa fa-picture-o">
        </betty-editable>
      </div>

      <div class="accordion-list-item-meta">

        <div class="accordion-list-item-meta-tools">
          <button
              ng-disabled="ongoingChildTransactions[relation.id]"
              confirmation-modal-opener
              modal-body="Are you sure you want to delete this child page '{{ relation.title }}'?"
              modal-title="Delete Child Page"
              modal-ok-text="Delete"
              modal-on-ok="deleteChildPage(relation)"
              class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o"></i>
            <span>DELETE</span>
          </button>
        </div>
      </div>
    </div>
  </li>
</ol>

<button
    title-modal-opener
    modal-title="Add Child Page"
    modal-ok-text="Create Child Page"
    modal-on-ok="addChildPage(title)"
    ng-disabled="addChildPageDisabled"
    class="btn btn-primary btn-sm accordion-list-add">
  <i class="fa fa-plus"></i>
  <span>Add New Page</span>
</button>
