@import '_colors';
@import 'mixins/_mixin-betty-container';
@import 'mixins/_mixin-input-container';

super-feature-relations {
  .mixin-accordion-list();

  display: block;

  .super-feature-relations-list-header {
    display: flex;

    h4 {
      flex: 1;
      margin: @interface-internal-spacing;
      line-height: 2em;
    }

    .super-feature-relations-list-header-tools {

      button {
        vertical-align: text-top;
      }
    }
  }

  .accordion-list-item-content {
    padding: 10px;
  }

  .super-feature-relations-list-item-image {
    .mixin-betty-container(190px, 190px);
  }

  .super-feature-relations-input-container {
    .mixin-input-container();

    label {
      .mixin-input-label();
    }

    input {
      .mixin-input();
    }
  }
}
