
<div class="input-container">
  <live-blog-entries-author-bridge
      ng-model="response.author"
      on-update="getResponseForm(response).$setDirty()">
  </live-blog-entries-author-bridge>
</div>

<div class="input-container">
  <label for="">Response Name</label>
  <span class="input-container-label-sub">Internal name, will not show on front end.</span>
  <input
      ng-model="response.internalName">
</div>

<div class="input-container">
  <label>Copy</label>
  <div class="input-container-onion-editor-wrapper">
    <onion-editor
        role="multiline"
        ng-model="response.body">
    </onion-editor>
  </div>
</div>

<button>Delete</button>

