
@interface-color-black: #000000;
@interface-color-error: #d0021b;
@interface-color-gray-1: #8a8a8a;
@interface-color-gray-2: #e4e4e4;
@interface-color-gray-3: #f6f6f6;
@interface-color-gray-4: #dddddd;
@interface-color-gray-5: #a6a6a6;
@interface-color-water: #3a85bf;
@interface-color-success: #5fbd00;
@interface-color-white: #ffffff;
