.cms-notifications {

  .heading {
    margin-left: 15px;
  }

  .add-notification {
    padding-right: 15px;
    margin-bottom: 10px;
  }

  .cms-notification {
    .panel-heading {
      cursor: auto;
      h4 {
        .editor-wrapper {
          display: inline-block;
        }
        .editor {
          margin-left: 0;
          min-width: 400px;
        }
        .editorPlaceholder {
          padding-left: 0;
        }
      }
    }

    .post-date-and-description {
      font-style: italic;
    }

    .editor {
      padding: 0;
      margin: 0 15px;

      p {
        margin: 1em 0;
      }
    }

    .editorPlaceholder {
      padding: 0 15px;
    }
  }
}
