@import url('bootstrap-navbar-override.less');

.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both; }

.cf { *zoom: 1; }

textarea, input, button { outline: none; }

.image img{ width: 100%; }

body { background-color: #F1F1F1; padding-top: 55px; }

#footer { text-align: center }

#results {

    .label { margin-left: 4px;

        &:first-child { margin-left: 0 } } }

#refine {

    legend { font-size: 1em; line-height: 1.786em; font-weight: bold; text-transform: uppercase;

        a { display: block } }

    .nav-header { padding-left: 0 }

    &.form-horizontal .control-group, &.form-horizontal legend { margin-bottom: 10px } }

#logo { height: auto; padding: 8px 0;

    img { height: 50%; max-height: 22px; } }

.navbar-brand { padding: 0px; margin-left: 15px; }

#button-area { position: fixed; right: 25px; top: 25px; display: block; }

#appbar { position: absolute; top: 0px; left: 0px; background-color: #333333; width: 100%; font-size: 13px;

    a { padding: 5px; color: #fff; }

    a:hover { text-decoration: none } }

.pagination a { cursor: pointer }

.autocomplete.dropdown { position: absolute; background-color: #fff; border: 1px solid #CCCCCC; border-top: 0; z-index: 1000;

    .entry.selected { background-color: #4A88CE; color: #fff; }

    .entry { cursor: pointer;

        .glyphicon { margin-right: 5px } } }

#nprogress .bar { z-index: 1000 }

.progress-overlay { display: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 999; background-color: rgba(50, 50, 50, 0.5); }

.callout { border-left: 5px solid #eee; margin: 10px 0 0 0; padding: 10px 30px 15px 15px;

    p:last-child { margin-bottom: 0 }

    &:first-child { margin-top: 0; }

    code, .highlight { background-color: #fff }

    h4 { margin-top: 0 } }

.edit-page .editor a { background-color: red !important;

    /* href that doesn't begin with HTTP or a / */
    &[href^=http], &[href^=mailto], &[href^="/"] { background-color: transparent !important; } }

/* Content page */
.hideOverflow { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

body { overflow-x: hidden; }

.panel-heading .published { display: inline-block; vertical-align: bottom; float: none; text-align: left; }

.publish-widget > a { cursor: pointer; }

td.preview { min-width: 120px; }

td.feature-type abbr { max-width: 100px; float: left; }

td.author { max-width: 150px; }

.no-image { color: #EEEEEE; display: block; font-size: 100px; text-align: center; width: 100%; transition: all 0.2s ease-in-out 0s;

    &:hover { color: #dedede; }

    .fa + span { clear: both; display: block; font-size: 12px; font-weight: bold; margin-bottom: 20px; margin-top: -20px; } }

.filter-object-container {

  margin-top: 5px;

  .clear-button:first-child { display: none; }

  .label { padding: 0.3em 0.6em; margin-right: 3px; cursor: pointer;

      span { margin-right: 3px; } } }

.filterwidget {

    .filter-input:focus { outline: 0; }

    .dropdown-menu { top: 43px;

        li a { cursor: pointer; }

        .glyphicon { margin-left: -7px; margin-right: 7px; } } }

.panel .panel-heading { overflow: hidden; text-overflow: ellipsis; cursor: pointer; padding: 6px 10px 7px 10px;

    .small { line-height: 16px; }

    .panel-title { font-size: inherit; white-space: nowrap; } }

#contentListAccordion {

    .thumbnail { text-decoration: none !important; }

    .panel-heading { padding: 4px 5px;

        + .panel-collapse { margin-top: 5px;

            .panel-body {

                > div { padding-right: 0; padding-left: 0; }

                dt { margin-top: 10px;

                    &:first-child { margin-top: 0; } } } } } }

/* Create content */
#create {

    .enter-title-back{ margin-left: -25px; }

    .modal-body{ padding-bottom: 0;

        button.go{ width: 100%; margin-top: 5px; } } }

/* navbar */
nav.navbar ul li:not(:first-child){ border-left: 1px solid #F1F1F1; }

#save-article-btn { width: 100px; font-size: inherit; }

.filterwidget { position: relative; }

#page-prev { margin-bottom: 10px;

    .h5 { margin-bottom: 10px; cursor: pointer; margin-bottom: 0;

        + div { margin-top: 10px; }

        .fa { padding: 4px 2px; } }

    .tab-pane { position: relative; margin: 0 auto;

        > div {

            .inner { width: auto; margin: 0 auto; background: #fff; max-width: 300px; width: auto; padding: 10px; }

            img { border: 1px solid #fff; } } }

    .nav { margin-right: 10px;

        a { position: relative; } }

    .tab-content { overflow: hidden; }

    #device-sm {

        .article-01, .article-02 { width: 100%; }

        .article-03, .article-04, .article-05, .article-06 { width: 40%; clear: both; margin-top: 10px;  } }

    #device-md {

        .article-01, .article-02 { width: 100%; }

        .article-03, .article-04, .article-05, .article-06 { width: 50%; } }

    #device-lg {

        .inner { max-width: 600px; }

        .article-01, .article-02 { width: 50%; }

        .article-03, .article-04, .article-05, .article-06 { width: 25%; } } }

#pzone-content {

    .panel-heading { cursor: default; }

    .close { margin-top: 5px; } }

.image-cropper-modal .modal-body {

    .breather { padding-top: 20px; }

    .more-breathing { padding-bottom: 20px }

    .thumb-list li { display: inline-block; height: 180px; width: 180px; margin: 0 3px; position: relative;

        &.preview_thumb { height: 110px; width: 110px;

            .crop-overlay { display: block; background: rgba(0, 0, 0, 0.6);

                .overlay-text { font-size: 20px; display: block; } }

            &:hover .crop-overlay { background: rgba(0, 0, 0, 0.6);

                .overlay-text { display: block; } } }

        .crop-overlay { position: absolute; z-index: 2; top: 0; left: 0; right: 0; bottom: 0;

            .overlay-text { display: none; color: white; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; text-align: center; height: 64px; font-size: 40px; } }

        .cropped-thumb { overflow: hidden; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: 0 auto; } }

    .actions { text-align: center;

        button { width: 100%; margin-bottom: 5px; } }

    .ratio-paginator span.fa-circle { margin: 0 8px; color: #dedede; } }

.edit-page bettyeditable .image-edit-container { padding: 10px;

  .edit { bottom: auto; top: 10px; }

  .remove { bottom: auto; top: 10px; }

  .caption-alt { position: absolute; bottom: 0px; left: 10px; width: 101%; } }

.btn-danger-copy { color: #fff; background-color: #d9534f; border-color: #d43f3a; }

#targeting {

    .panel-heading { cursor: default; }

    .targeting-group { margin-bottom: 0;

        th { padding-top: 0; }

        td, th { border-top: 0 !important; } }

    .targeting-table { padding-top: 0; } }

.promotion-container {

    .promotion-area { margin-bottom: 20px; }

    .panel-body { margin-bottom: 0; }

    .article { position: relative; 

        h1.h5 { margin-top: 0; clear: both; padding-top: 5px; } }

    .close { margin: 10px 5px 0 0; }

    .media { border-bottom: 1px solid #ccc; padding: 10px 10px 10px 0; }

    .move-up, .move-down { margin: 0; position: absolute; right: 10px; z-index: 10; cursor: pointer; 

        &:hover { color: lighten(#428BCA,20%); } }

    .move-up { top: 5px; }

    .move-down { bottom: 0; }

    .sidebar-articles-container { position: relative }

    .sidebar-article-container { border: 1px solid #CCC; border-radius: 4px; overflow: auto; position: relative;

        .button-container { height: 100%; position: absolute; width: 60px;

            button { height: 50%; width: 65px; } } }

    .promotion-area.select-mode .article-container { border: 1px solid #CCC; box-shadow: 0px 0px 70px #CCC; cursor: pointer; margin-top: 5px; padding-left: 10px;

        &:hover { border: 1px solid #428BCA; box-shadow: 0px 0px 70px #428BCA; } }

    .promotion-container {

        .filterwidget { padding: 0; width: 100%; }

        .sidebar-articles-container { width: 100% } } }

.save-button { opacity: 0.8; margin-bottom:10px; 

    &:hover { opacity: 1; } }