<div class="row">
  <div class="col-xs-12 col-md-7 form-group">
    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-6">
          <label class="control-label">Promote Content:</label>
          <button
              class="btn form-control"
              ng-click="setPreviewTimeToImmediate()"
              ng-class="{'btn-primary': !contentData.previewTime}">
            <span>Immediately</span>
          </button>
        </div>
        <div class="col-xs-6">
          <label for="choose-pzone-time" class="control-label">Or Choose Date/Time:</label>
          <button
              id="choose-pzone-time"
              class="btn btn-default form-control"
              datetime-selection-modal-opener
              ng-class="{'btn-primary': contentData.previewTime}"
              modal-title="Preview PZone at this Time"
              modal-on-close="setPreviewTime(newDate)">
            <span ng-show="contentData.previewTime">{{ contentData.previewTime.format('M/D/YY, h:mma') }}</span>
            <span ng-show="!contentData.previewTime">Use Date...</span>
            <i class="glyphicon glyphicon-time"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
