<div class="form-inline">
  <div class="form-group">
    <select
        class="form-control input-sm"
        ng-model="data.field"
        ng-options="field.endpoint as field.name for field in fieldTypes"
        ng-change="
          clearAutocomplete();
          controllerService.groupsConditionsValuesClear(groupIndex, conditionIndex);
          onUpdate()">
    </select>
  </div>

  <div class="form-group">
    <select
        class="form-control input-sm"
        ng-model="data.type"
        ng-options="condition.value as condition.name for condition in conditionTypes"
        ng-change="
          clearAutocomplete();
          onUpdate()">
    </select>
  </div>

  <div class="autocomplete-items form-group">
    <span class="input-group input-group-sm">
      <input
          class="form-control"
          type="text"
          placeholder="Enter a search term..."
          ng-model="writables.searchTerm"
          ng-change="updateAutocomplete()"
          ng-keydown="handleKeypress($event)"
          ng-blur="delayClearAutocomplete()">
    </span>

    <bulbs-autocomplete-suggest
        ng-show="writables.searchTerm"
        formatter="item.name"
        items="autocompleteItems"
        on-select="
          controllerService.groupsConditionsValuesAdd(groupIndex, conditionIndex, selection);
          writables.searchTerm = '';
          onUpdate()">
    </bulbs-autocomplete-suggest>
  </div>

  <div
      class="value"
      ng-repeat="value in controllerService.groupsConditionsValuesList(groupIndex, conditionIndex)">
    <span>{{ value.name }}</span>
    <button ng-click="controllerService.groupsConditionsValuesRemove(groupIndex, conditionIndex, $index); onUpdate()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </div>

  <button
      class="condition-remove btn btn-xs btn-danger"
      ng-click="remove()">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>
