<nav-bar view="nav"></nav-bar>

<div class="container col-xs-offset-1 col-xs-10">
  <cms-notify-container class="cms-notify-container"></cms-notify-container>

  <list-page
      cms-page="notification"
      filter-buttons="[{
        title: 'Published',
        params: {
          is_published: 'True'
        }
      }, {
        title: 'Unpublished',
        params: {
          is_published: 'False'
        }
      }]"
      model-factory="modelFactory"
      search-parameter="search">
  </list-page>
</div>
