<nav-bar></nav-bar>

<div class="wrapper container-fluid">
  <h2>Promoted Content</h2>
  <div class="row">
    <div class="cf well well-sm">
        <div class="col-md-4">
          <promoted-content-pzone-select></promoted-content-pzone-select>
        </div>
        <div class="col-md-8">
          <promoted-content-time-picker></promoted-content-time-picker>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <promoted-content-list></promoted-content-list>
    </div>
    <div class="col-md-6">
      <ul
          class="nav nav-tabs"
          role="tablist">
        <li class="active">
          <a
              href="#withSearch"
              data-toggle="tab">
            Search
          </a>
        </li>
        <li ng-click="refreshOperations()">
          <a
              href="#withOperations"
              data-toggle="tab">
            Schedule
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div
            id="withSearch"
            class="tab-pane active">
          <promoted-content-search></promoted-content-search>
        </div>
        <div
            id="withOperations"
            class="tab-pane">
          <promoted-content-operations-list class="tab-pane"></promoted-content-operations-list>
        </div>
      </div>
    </div>
  </div>
</div>
