<dynamic-content-form-field-input-label
    name="{{ name }}"
    schema="schema">
</dynamic-content-form-field-input-label>

<input
    ng-if="schema.field_size !== 'long'"
    ng-model="ngModel[name]"
    ng-readonly="schema.read_only"
    ng-required="schema.required"
    placeholder="{{ schema.placeholder }}"
    name="{{ name }}"
    type="text">

<div
    class="dynamic-content-form-field-richtext-multiline"
    ng-class="{ 'dynamic-content-form-field-richtext-read-only': schema.read_only }"
    ng-if="schema.field_size === 'long'"
    ng-attr-readonly="schema.read_only">
  <input
      ng-model="ngModel[name]"
      ng-readonly="schema.read_only"
      ng-required="schema.required"
      name="{{ name }}"
      type="hidden">

  <div
      ng-if="schema.read_only"
      ng-bind-html="ngModel[name]">
  </div>
  <onion-editor
      id="{{ uuid }}"
      role="multiline"
      ng-if="!schema.read_only"
      ng-model="ngModel[name]"
      ng-attr-placeholder="{{ schema.placeholder }}">
  </onion-editor>
</div>

<dynamic-content-form-field-input-errors
    name="{{ name }}"
    schema="schema">
</dynamic-content-form-field-input-errors>
