@import '_sizing';
@import '_mixin';
@import 'mixins/_mixin-accordion-list';
@import 'mixins/_mixin-alerts';
@import 'mixins/_mixin-buttons';
@import 'mixins/_mixin-input-container';
@import 'mixins/_mixin-positioning';
@import 'mixins/_mixin-text';

live-blog-entries {
  .mixin-accordion-list();

  display: block;
  margin-bottom: @interface-row-margin;
  padding: @interface-internal-spacing;

  .live-blog-recircs > div {
    margin-bottom: @interface-row-margin;
  }

  .live-blog-entries-header {
    margin-bottom: @interface-row-margin;

    .live-blog-entries-header-meta-tools {
      .clearfix;

      margin-bottom: @interface-internal-spacing;

      button:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  .live-blog-entries-options {

    h5 {
      margin: 0 0 @interface-row-margin-small;
    }

    .input-container {
      margin-bottom: @interface-row-margin-small;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .live-blog-entries-list-add-top {
    float: right;
  }

  .live-blog-entries-list-entry-created-by {
    .mixin-text-muted();

    margin-bottom: @interface-row-margin;

    &:after {
      clear: both;
      content: " ";
    }

    > span {
      float: right;
    }
  }

  .btn-minimal {
    .mixin-button-minimal();
  }

  .live-blog-entries-list-error {
    .alert-error();
  }

  .live-blog-entries-list-no-items {
    .alert-info();
  }

  button.live-blog-entries-jump-to-top {

    &.live-blog-entries-jump-to-top-fixed {
      bottom: 50px;
      left: 8%;
      position: fixed;
    }
  }
}
