<div>
  <h4>Entries</h4>

  <div ng-if="entries.length > 0">
    <button
        class="btn-minimal">
      <i class="fa fa-caret-square-o-down"></i>
      <span>Collapse All</span>
    </button>
    <button
        class="btn-minimal">
      <i class="fa fa-caret-square-o-up"></i>
      <span>Expand All</span>
    </button>
    <button
        ng-click="newEntry()"
        class="btn btn-primary">
      <i class="fa fa-plus"></i>
      <span>Add New Entry</span>
    </button>
  </div>

  <div
      ng-if="errorMessage"
      class="live-blog-entries-list-error">
    <i class="fa fa-exclamation-circle"></i>
    <span>{{ errorMessage }}</span>
    <button
        ng-click="clearError()"
        class="btn btn-xs btn-link">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <div
      ng-if="entries.length < 1">
    No entries yet!
  </div>
</div>

<ol ng-if="entries.length > 0">
  <li
      ng-init="panelClosed = false"
      ng-repeat="entry in entries track by entry.id">

    <div class="accordion-list-item-meta">
      <button
          ng-click="panelClosed = !panelClosed"
          class="accordion-list-item-meta-label">
        <i
            ng-class="{
              'fa-caret-right': panelClosed,
              'fa-caret-down': !panelClosed
            }"
            class="fa">
        </i>
        <span>{{ entry.headline }}</span>
      </button>

      <div class="accordion-list-item-meta-tools">
        <button
            class="btn btn-success btn-xs">
          <i class="fa fa-floppy-o"></i>
          <span>Save</span>
        </button>

        <button
            datetime-selection-modal-opener
            modal-clear-text="Unpublish"
            ng-model="entry.published"
            class="btn btn-primary btn-xs">
          <i class="fa fa-clock-o"></i>
          <span ng-if="entry.published">{{ entry.published | dateTimeFormat }}</span>
          <span ng-if="!entry.published">Publish</span>
        </button>
      </div>
    </div>

    <div
        ng-hide="panelClosed"
        class="accordion-list-item-content">

      <div>
        <label>Author</label>
        <input
            ng-model="entry.authors">
      </div>

      <div class="input-container">
        <label>Headline</label>
        <input
            ng-model="entry.headline"
            placeholder="E.G. An Oral History Of Harriet The Spy, Nickelodeon's First Feature Film">
      </div>

      <div class="input-container">
        <label>Copy</label>
        <div class="input-container-onion-editor-wrapper">
          <onion-editor
              role="multiline"
              ng-model="entry.body"
              placeholder="E.G. An Oral History Of Harriet The Spy, Nickelodeon's First Feature Film">
          </onion-editor>
        </div>
      </div>

      <div class="accordion-list-item-meta">

        <div class="accordion-list-item-meta-tools">

          <button
              confirmation-modal-opener
              modal-body="Are you sure you want to delete this entry '{{ entry.title }}'?"
              modal-title="Delete Entry"
              modal-ok-text="Delete"
              modal-on-ok="deleteEntry(entry)"
              class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o"></i>
            <span>DELETE</span>
          </button>
        </div>
      </div>
    </div>
  </li>
</ol>

<button
    class="btn btn-primary accordion-list-add-bottom"
    ng-click="newEntry()">
  <i class="fa fa-plus"></i>
  <span>Add New Entry</span>
</button>
