@import '_sizing';
@import 'mixins/_mixin-accordion-list';
@import 'mixins/_mixin-alerts';
@import 'mixins/_mixin-buttons';
@import 'mixins/_mixin-input-container';

live-blog-entries {
  .mixin-accordion-list();

  display: block;
  margin-bottom: @interface-row-margin;

  .live-blog-entries-header {
    margin-bottom: @interface-row-margin;
  }

  .btn-minimal {
    .mixin-button-minimal();
  }

  .live-blog-entries-list-error {
    .alert-error();
  }

  .live-blog-entries-list-no-items {
    .alert-info();
  }

  .input-container {
    .mixin-input-container();

    label {
      .mixin-input-label();
    }

    input {
      .mixin-input();
    }

    .input-container-onion-editor-wrapper {
      .mixin-input-onion-editor-wrapper();
    }
  }
}
