<nav-bar view="nav"></nav-bar>

<polls-list>
  <div class="container col-xs-offset-1 col-xs-10">

    <non-restmod-list-page
        cms-page="super-features"
        destroy-item="modelFactory.deleteSuperFeature(item.id)"
        get-items="modelFactory.getSuperFeatures(params)"
        filter-buttons="[{
          title: 'Draft',
          params: {
            status: 'draft'
          }
        }, {
          title: 'Active',
          params: {
            active: 'true'
          }
        }, {
          title: 'Scheduled',
          params: {
          }
        }, {
          title: 'Published',
          params: {
          }
        }, {
          title: 'All',
          params: {
          }
        }]"
        model-fields="modelFactory.fields"
        model-name="modelFactory.name"
        model-name-plural="modelFactory.namePlural"
        search-parameter="search">
    </non-restmod-list-page>
  </div>
</polls-list>
