@import "../../../_dynamic-content-common";

dynamic-content-form-field-list {

  ol {
    list-style: none;

    li {
      background: @interface-color-gray-3;
      border-radius: @interface-border-radius;
      border: solid 1px @interface-color-gray-2;
      margin-bottom: 20px;

      .dynamic-content-form-field-list-item-meta {
        padding: 10px;

        .dynamic-content-form-field-list-item-meta-label {
          color: @interface-color-black;
          font-weight: bold;
        }

        .dynamic-content-form-field-list-item-meta-tools {

          form {
            display: inline;
          }
        }
      }

      dynamic-content-form-field-object {
        background-color: @interface-color-white;
        border-bottom: 1px solid @interface-color-gray-2;
        border-left: none;
        border-right: none;
        border-top: 1px solid @interface-color-gray-2;
        border-radius: 0;
      }
    }
  }

  .dynamic-content-form-field-list-add {
    display: block;
    margin: auto;
    text-align: center;
  }
}
