<dynamic-content-form-field-input-label
    name="{{ name }}"
    schema="schema">
</dynamic-content-form-field-input-label>

<ol>
  <li
      ng-init="panelClosed = false"
      ng-repeat="itemValues in ngModel[name] track by $index">

    <div class="dynamic-content-form-field-list-item-meta">
      <button
          ng-click="panelClosed = !panelClosed"
          class="dynamic-content-form-field-list-item-meta-label">
        <i
            ng-class="{
              'fa-caret-right': panelClosed,
              'fa-caret-down': !panelClosed
            }"
            class="fa">
        </i>
        <span>{{ schema.child_label || 'Item' }} {{ $index + 1 }}</span>
        <i
            ng-if="!isItemValid && form.$dirty"
            class="fa fa-exclamation-circle dynamic-content-form-field-list-item-meta-label-error">
        </i>
      </button>

      <div class="dynamic-content-form-field-list-item-meta-tools">
        <form
            ng-submit="orderingInputForm.$setPristine()"
            name="orderingInputForm"
            class="dynamic-content-form-field-list-item-meta-tools-order">
          <input
              name="order"
              type="number"
              ng-model="itemOrderingMemory[$index]">
          <button
              ng-click="moveItem($index, itemOrderingMemory[$index] - 1)"
              ng-disabled="orderingInputForm.$pristine">
            <i class="fa fa-check"></i>
          </button>
        </form>
        <button
            class="dynamic-content-form-field-list-item-meta-tools-order-dir"
            ng-disabled="$index === 0"
            ng-click="moveItem($index, $index - 1)">
          <i class="fa fa-chevron-up"></i>
        </button>
        <button
            class="dynamic-content-form-field-list-item-meta-tools-order-dir"
            ng-disabled="$index === ngModel[name].length - 1"
            ng-click="moveItem($index, $index + 1)">
          <i class="fa fa-chevron-down"></i>
        </button>
      </div>
    </div>

    <div
        ng-hide="panelClosed"
        class="dynamic-content-form-field-list-item-content">
      <dynamic-content-form-field-object
          schema="schema"
          ng-model="itemValues"
          on-validity-change="isItemValid = isValid">
      </dynamic-content-form-field-object>

      <div class="dynamic-content-form-field-list-item-meta">

        <div class="dynamic-content-form-field-list-item-meta-tools">
          <button
              class="btn btn-xs btn-danger"
              ng-click="removeItem($index)">
            <i class="fa fa-trash-o"></i>
            <span>DELETE</span>
          </button>
        </div>
      </div>
    </div>
  </li>
</ol>

<button
    class="btn btn-primary dynamic-content-form-field-list-add"
    ng-click="newItem()">
  <i class="fa fa-plus"></i>
  <span>Add {{ schema.child_label || 'Item' }}</span>
</button>
