@import '_colors';
@import 'mixins/_mixin-accordion-list';

dynamic-content-form-field-list {
  .mixin-accordion-list();

  > ol {

    > li {

      dynamic-content-form-field-object.accordion-list-item-content {
        background-color: @interface-color-white;
        border: none;
        border-radius: 0;
      }
    }
  }
}
