<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title hideOverflow">
      <span class="small">
        <span class="pull-left">
          <span ng-show="article.feature_type" ng-bind-html="article.feature_type"></span>
          <span ng-show="article.ratings[0].media_item.show && article.feature_type">&middot;</span>
          <span ng-show="article.ratings[0].media_item.show" ng-bind-html="article.ratings[0].media_item.show"></span>
          <span ng-hide="article.ratings[0].media_item.show || article.feature_type"><em>No type set</em></span>
        </span>
        <div class="article-publish-date pull-right">
          <i class="fa fa-calendar"></i>
          <span ng-show="article.published" ng-bind-html="article.published|date: 'M/d/yy\' @ \' h:mm a' "></span>
          <span ng-hide="article.published"><em>Not published</em></span>
        </div>
      </span><br>
      <div class="heading" title="{{article.title}}" ng-show="article.title" ng-bind-html="article.title"></div>
    </h4>
  </div>
</div>
