<nav-bar view="nav"></nav-bar>

<div class="container col-xs-offset-1 col-xs-10">
  <cms-notify-container class="cms-notify-container"></cms-notify-container>

  <list-page
      cms-page="campaigns"
      filter-buttons="[{
        title: 'Active',
        active: true,
        params: {
          active: true
        }
      }, {
        title: 'Inactive',
        params: {
          active: false
        }
      }]"
      utility-buttons="utilityButtons"
      search-parameter="search"
      model-factory="modelFactory">
  </list-page>
</div>
