<button
    class="btn {{ cssBtnClasses }}"
    ng-init="state = STATES.DONE"
    ng-class="{
      '{{ cssBtnClassComplete || 'btn-success' }}': state === STATES.DONE,
      '{{ cssBtnClassProgress || 'btn-info' }}': state === STATES.PROGRESS,
      '{{ cssBtnClassError || 'btn-danger' }}': state === STATES.ERROR
    }"
    ng-click="doClick()"
    ng-disabled="disableWhen() === true || state === STATES.PROGRESS">
  <span ng-if="state === STATES.ERROR">
    <i class="fa fa-times"></i>
    {{ textError || 'Error' }}
  </span>
  <span ng-if="state === STATES.PROGRESS">
    <i class="fa fa-refresh fa-spin"></i>
    {{ textProgress || 'In Progress...' }}
  </span>
  <span ng-if="state === STATES.DONE">
    <i class="fa {{ cssIconComplete || 'fa-check' }}"></i>
    {{ textComplete || 'Complete' }}
  </span>
</button>
