promoted-content-list {
  @inactive-color:#aaaaaa;

  display: block;
  margin-bottom: 20px;

  .preview-time-heading {
    color: #cccccc;
    font-style: italic;
  }

  .info-past-date {
    padding: 5px;
    text-align: center;
  }

  .article-list {
    padding-bottom: 50px; // for improved contained drag-drop functionality

    &.ui-sortable-dragging li .content-cutoff {
      display: none;
    }

    li {

      &.dropzone {
        background-color: lighten(@inactive-color, 20%);
        border: 3px dashed @inactive-color;
        color: @inactive-color;
        display: block;
        min-height: 50px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
        position: relative;

        &::before {
          float: left;
          height: 100%;
          width: 100%;
          content: "Drop Here to Insert Article";
          position: absolute;
          top: 25%;
          right: 0;
          left: 0;
          bottom: 50%;
        }
      }

      .content-cutoff {
        border-top: 1px solid;
        text-align: center;
        color: #bbb;
        display: block;
        padding-top: 6px;
        margin-top: 4px;
        margin-bottom: 10px;
        font-size: 12px;
        width: 100%;
      }
    }
  }
}
