<div
    class="item-wrapper row"
    ng-class="{
      'included': modifierService.isIncluded(model.id),
      'excluded': modifierService.isExcluded(model.id)
    }">

  <div class="wrapper-pin col-md-1">
    <button
        class="btn-minimalized btn-pin-active"
        ng-if="modifierService.isPinned(model.id)"
        ng-click="modifierService.unpin(model.id); modifierService.$retrieveContent()">
      <i class="glyphicon glyphicon-pushpin"></i>
    </button>
    <button
        class="btn-minimalized btn-pin-inactive"
        ng-if="!modifierService.isPinned(model.id)"
        ng-click="modifierService.pin(model.id); modifierService.$retrieveContent()">
      <i class="glyphicon glyphicon-pushpin"></i>
    </button>
  </div>

  <div class="wrapper-content col-md-9">
    <div class="content-id">Article ID: {{ model.id }} | {{ model.feature_type }}</div>
    <div class="content-title">{{ model.title }}</div>
  </div>

  <div class="wrapper-published col-md-2">
    <div class="published-top">Published</div>
    <div class="published-date">{{ model.published | date : 'M/d/yyyy, h:mm a' }}</div>
  </div>

  <div class="wrapper-remove">
    <button
        class="btn btn-xs btn-danger"
        ng-if="!modifierService.isExcluded(model.id)"
        ng-click="modifierService.exclude(model.id); modifierService.$retrieveContent()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
    <button
        class="btn btn-xs btn-success"
        ng-if="modifierService.isExcluded(model.id)"
        ng-click="modifierService.unexclude(model.id); modifierService.$retrieveContent()">
      <i class="glyphicon glyphicon-repeat"></i>
    </button>
  </div>
</div>
