<div
    ng-if="selectedValue"
    class="selection-overlay">
  <span class="selection-value">
    {{ selectedValue }}
  </span>
  <button
      class="no-style pull-right"
      ng-click="clearSelectionOverlay()">
    <i class="fa fa-times"></i>
  </button>
</div>
<div
    ng-if="!selectedValue"
    class="input-container">

  <label>
    <i
        class="fa fa-search"
        ng-if="!hideSearchIcon()">
    </i>
    <input
        id="{{ inputId }}"
        placeholder="{{ inputPlaceholder }}"
        type="text"
        ng-model="writables.searchTerm"
        ng-blur="delayClearAutocomplete()"
        ng-change="updateAutocomplete()"
        ng-keydown="handleKeypress($event)">
  </label>

  <bulbs-autocomplete-suggest
      ng-show="writables.searchTerm && autocompleteItems.length > 0"
      formatter="item.name"
      items="autocompleteItems"
      on-select="handleSelect(selection)">
  </bulbs-autocomplete-suggest>
  <div
      ng-show="writables.searchTerm && autocompleteItems.length === 0"
      class="no-results">
    No results found
  </div>
</div>
