<dynamic-content-form-field-input-label
    input-id="{{ uuid }}"
    name="{{ name }}"
    schema="schema">
</dynamic-content-form-field-input-label>

<select
    ng-model="ngModel[name]"
    id="{{ uuid }}"
    name="{{ name }}">
  <option value="">Choose a {{ schema.label || name }}...</option>
  <option
      ng-repeat="choice in schema.choices track by choice.value"
      ng-selected="choice.value === ngModel[name]"
      value="{{ choice.value }}">
    {{ choice.display_name }}
  </option>
</select>

<dynamic-content-form-field-input-errors
    name="{{ name }}"
    schema="schema">
</dynamic-content-form-field-input-errors>
