<div class="video-list-title">
  <span class="bold">Current List</span>
  <span>
    Items in List:
    <span class="bold">{{ videos.length }}</span>
  </span>
</div>

<autocomplete-basic
    class="form-control"
    item-display-formatter="item.title"
    on-select="addVideo(selection.value); $parent.needsSave = true"
    input-placeholder="Search {{ videoChannel }} videos..."
    search-function="searchVideos">
</autocomplete-basic>

<ul
    class="video-list-videos"
    ng-if="videos.length > 0"
    ui-sortable="sortableOptions"
    ng-model="videos">
  <li ng-repeat="video in videos">
    <div class="wrapper-tools">
      <button
          class="btn btn-danger rm-btn"
          ng-click="delete($index)">
        <i class="fa fa-times"></i>
      </button>
      <button
          class="btn btn-info up-btn"
          ng-click="moveUp($index)"
          ng-disabled="$first">
        <i class="fa fa-chevron-up"></i>
      </button>
      <button
          class="btn btn-info dn-btn"
          ng-click="moveDown($index)"
          ng-disabled="$last">
        <i class="fa fa-chevron-down"></i>
      </button>
    </div>
    <video-list-video
        model="video">
    </video-list-video>
  </li>
</ul>
<div
    class="text-primary"
    ng-if="videos.length === 0">
  There are no videos in this list, search for a video to add to playlist.
</div>
