<div>
  <label
      for="{{ inputId }}"
      class="muted-capitals">
    {{ inputLabel || 'Manual Recirc (Maximum ' + maxRecircItems + ')' }}
  </label>
  <content-search
      input-id="{{ inputId }}"
      on-select="includeRecirc(selection)"
      ng-disabled="fullRecircContents.length === maxRecircItems">
  </content-search>
</div>
<ul
    class="super-features-edit-recirc-list"
    ng-if="fullRecircContents">
  <li ng-repeat="content in fullRecircContents">
    <span>({{ content.id }}) {{ content.title }}</span>
    <button
        ng-click="removeRecirc($index)">
      <i class="fa fa-times"></i>
    </button>
  </li>
</ul>

