<ul ng-if="form.$dirty">
  <li ng-repeat="(errorName, isError) in form[name].$error">
    <i class="fa fa-exclamation-circle"></i>
    <span ng-if="errorName === 'integer'">{{ schema.label }} must be an integer.</span>
    <span ng-if="errorName === 'max'">{{ schema.label }} must be less than {{ schema.max_value }}</span>
    <span ng-if="errorName === 'maxlength'">{{ schema.label }} is {{ form[name].$viewValue.length - schema.max_length }} characters too long!</span>
    <span ng-if="errorName === 'min'">{{ schema.label }} must be greater than {{ schema.min_value }}.</span>
    <span ng-if="errorName === 'required'">{{ schema.label }} is required!</span>
    <span ng-if="errorName === 'rgbhex'">{{ schema.label }} must be formatted as an rgb hex. eg: "#000000".</span>
  </li>
</ul>
