<dynamic-content-form-field-input-label
    name="{{ name }}"
    schema="schema">
</dynamic-content-form-field-input-label>

<div ng-if="schema.read_only">{{ ngModel | dateTimeFormat }}</div>

<div ng-if="!schema.read_only">

  <input
      type="hidden"
      name="{{ name }}"
      ng-model="ngModel"
      ng-required="schema.required"
      ng-readonly="schema.read_only">

  <button
      datetime-selection-modal-opener
      ng-model="ngModel"
      modal-on-close="setDate(newDate)"
      class="btn btn-xs btn-info">
    <i class="fa fa-calendar"></i>
    <span ng-if="ngModel">{{ ngModel | dateTimeFormat }}</span>
    <span ng-if="!ngModel">click to set date/time</span>
  </button>

  <button
      ng-if="ngModel"
      ng-click="clearDate()"
      class="btn btn-xs btn-danger">
    <i class="fa fa-times"></i>
    <span>clear</span>
  </button>

</div>

<dynamic-content-form-field-input-errors
    name="{{ name }}"
    schema="schema">
</dynamic-content-form-field-input-errors>
