<top-bar
  logo-href="/cms/app/special-coverage/"
  save-function="saveModel"
  save-disable-when="model.$dirty().length === 0 && !isNew && !needsSave">
</top-bar>

<div class="container col-xs-offset-2 col-xs-8">
  <h3>
      <a href="/cms/app/special-coverage">Special Coverage Lists</a>
      &gt;
      <span ng-if="isNew && !model.name">New Special Coverage</span>
      <span ng-if="!isNew || model.name">{{ model.name }}</span>
  </h3>
  <div class="row well">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="specialCoverageName">Name</label>
        <input id="specialCoverageName" type="text" ng-model="model.name" class="form-control" required>
      </div>
      <div class="col-md-7">
        <label for="specialCoverageSlug">List URL</label>
        <div class="input-group">
          <span class="input-group-addon">{{ EXTERNAL_URL }}/special/</span>
          <input id="specialCoverageSlug" type="text" class="form-control" ng-model="model.slug">
          <span class="input-group-btn">
            <button
                class="btn btn-info"
                ng-if="model.slug"
                clip-copy="EXTERNAL_URL + '/special/' + model.slug">
              <i class="glyphicon glyphicon-paperclip"></i>
            </button>
            <button
                class="btn btn-info"
                ng-if="!model.slug"
                disabled>
              <i class="glyphicon glyphicon-paperclip"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label for="specialCoverageDescription">Description</label>
        <textarea id="specialCoverageDescription" type="text" ng-model="model.description" class="form-control">
        </textarea>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="specialCoverageActiveState">
          Active
          <i
              class="glyphicon glyphicon-info-sign text-info"
              tooltip="'Active' lists will rotate through all site promotion areas. To always display on the homepage select 'Pin To HP'. Note: there are only three homepage slots so please limit the number of pinned lists."
              tooltip-trigger="mouseenter"
              tooltip-placement="top">
          </i>
        </label>
        <select
            id="specialCoverageActiveState"
            class="form-control"
            ng-model="model.$activeState"
            ng-model-options="{getterSetter: true}">
          <option value="{{ ACTIVE_STATES.INACTIVE }}">{{ ACTIVE_STATES.INACTIVE }}</option>
          <option value="{{ ACTIVE_STATES.ACTIVE }}">{{ ACTIVE_STATES.ACTIVE }}</option>
          <option value="{{ ACTIVE_STATES.PROMOTED }}">{{ ACTIVE_STATES.PROMOTED }}</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="specialCoverageCampaign">Attach to Campaign</label>
        <autocomplete-basic
            class="form-control"
            item-display-formatter="item.campaignLabel"
            on-select="model.campaign = selection.value; needsSave = true"
            input-id="specialCoverageCampaign"
            input-init-value="{{ model.campaign.campaignLabel }}"
            input-placeholder="e.g. 0-1337 Honda"
            input-use-selection-as-value="true"
            search-function="searchCampaigns"
            hide-search-icon="true">
        </autocomplete-basic>
      </div>
    </div>
  </div>
  <div class="row" role="tabpanel">
    <ul role="tablist" class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#paneQuery" role="tab" data-toggle="tab">
          Add Content
        </a>
      </li>
<!-- TODO : add back in videos -->
      <!--li role="presentation">
        <a href="#paneVideos" role="tab" data-toggle="tab">
          Add Videos
        </a>
      </li-->
    </ul>
  </div>
  <div class="row tab-content well">
    <div id="paneQuery" role="tabpanel" class="tab-pane active">
      <custom-search ng-model="model.query" on-update="needsSave = true"></custom-search>
    </div>
    <!--div id="paneVideos" role="tabpanel" class="tab-pane">
      <special-coverage-edit-videos ng-model="model.videos"></special-coverage-edit-videos>
    </div-->
  </div>
</div>
