<button
    class="btn btn-sm btn-link"
    ng-click="clearOperations()"
    ng-disabled="pzoneData.selectedPZone.saved || (data.previewTime && pzoneData.unsavedOperations.length < 1)">
  <i class='glyphicon glyphicon-remove'></i>
  <span>Reset</span>
</button>
<button
    class="btn btn-sm btn-success"
    ng-click="savePZone()"
    ng-disabled="pzoneData.selectedPZone.saved || (data.previewTime && pzoneData.unsavedOperations.length < 1)">
  <i class='glyphicon glyphicon-floppy-disk'></i>
  <span
      ng-if="!pzoneData.previewTime">
    Publish
  </span>
  <span
      ng-if="pzoneData.previewTime">
    Schedule
  </span>
</button>
<br>
<span
    class="h6 operation-count text-muted"
    ng-show="pzoneData.unsavedOperations && pzoneData.unsavedOperations.length > 0">
  <span>{{ pzoneData.unsavedOperations.length }} Unsaved</span>
  <span ng-show="pzoneData.unsavedOperations.length === 1">Operation</span>
  <span ng-show="pzoneData.unsavedOperations.length > 1">Operations</span>
</span>
