<div
    class="form-inline"
    tooltip="hello">

  <div class="form-group">
    <select
        class="form-control input-sm"
        ng-model="model.field"
        ng-options="field.endpoint as field.name for field in fieldTypes"
        ng-change="clearAutocomplete(); model.clearAllValues(); onUpdate()">
    </select>
  </div>

  <div class="form-group">
    <select
        class="form-control input-sm"
        ng-model="model.type"
        ng-options="condition.value as condition.name for condition in conditionTypes"
        ng-change="clearAutocomplete(); onUpdate()">
    </select>
  </div>

  <div class="autocomplete-items form-group">
    <span class="input-group input-group-sm">
      <input
          class="form-control"
          type="text"
          placeholder="Enter a search term..."
          ng-model="writables.searchTerm"
          ng-change="updateAutocomplete()"
          ng-keydown="handleKeypress($event)"
          ng-blur="delayClearAutocomplete()">
    </span>

    <bulbs-autocomplete-suggest
        ng-show="writables.searchTerm"
        formatter="item.name"
        items="autocompleteItems"
        on-select="model.addValue(selection); onUpdate(); writables.searchTerm = ''">
    </bulbs-autocomplete-suggest>
  </div>

  <div class="value" ng-repeat="value in model.values">
    <span>{{ value.name }}</span>
    <button ng-click="model.removeValue($index); onUpdate()">
      <i class="glyphicon glyphicon-remove"></i>
    </button>
  </div>

  <button
      class="condition-remove btn btn-xs btn-danger"
      ng-click="remove()">
    <i class="glyphicon glyphicon-remove"></i>
  </button>
</div>
