<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Bug Report</h4>
</div>
<div class="modal-body">
  <p>Thanks for taking the time to fill out a bug report! This let's us know what problems you're running into and how to reproduce them. That way we can fix them as fast as possible. We promise.</p>
  <p>Please fill out the following ad lib prompts:</p>
  <section class="form-group">
      <h5>When I try to...</h5>
      <textarea class="form-control" ng-model="report.whenITry"></textarea>
      <h5>I expected...</h5>
      <textarea class="form-control" ng-model="report.iExpected"></textarea>
      <h5>But I got...</h5>
      <textarea class="form-control" ng-model="report.butIGot"></textarea>
  </section>
</div>
<div class="modal-footer">
  <save-button class="btn-primary" get-promise="sendToWebtech();" on-save="sendToWebtechCbk(promise)" config="reportButton">Send</button>
</div>
