<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Choose publish date &amp; time</h4>
</div>
<div class="modal-body">
    <div class="well">
      <div class="dropdown">
        <a class="dropdown-toggle" id="datetimeDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
          <div class="input-group">
            <input type="text" class="form-control" data-ng-model="article.published">
            <span class="input-group-add-on"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker
            data-ng-model="article.published"
            data-datetimepicker-config="{ dropdownSelector: '#datetimeDropdown' }"/>
        </ul>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button
    ng-show="pubTimeArticle.published"
    class="btn btn-warning pull-left"
    confirmed-click="pubUnpublish(pubTimeArticle);"
    ng-confirm-click="Are you sure you want to unpublish this article?"
    data-dismiss="modal">Unpublish</button>
  <button
    class="btn btn-danger pull-left"
    ng-hide="pubTimeArticle.published"
    ng-controller="ContentworkflowCtrl"
    role="button" ng-click="trashContentModal(pubTimeArticle.id);"
    data-dismiss="modal">Delete&nbsp;&nbsp;<i class="fa fa-trash"></i></button>

  <button class="btn btn-link" ng-click="$dismiss();">Cancel</button>
  <button id="save-pub-time-button" class="btn btn-primary" ng-click="setPubTime(article);">Save changes</button>
</div>
