<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Choose publish date &amp; time</h4>
</div>
<div class="modal-body">
    <div class="well">
      <div class="dropdown">
        <a class="dropdown-toggle input-group" id="datetimeDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
            <input readonly class="form-control disabled uneditable-input" value="{{article.published|tzDate:'MM/dd/yyyy hh:mm a'}}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker
            data-ng-model="dateTimePickerValue"
            data-on-set-time="dateTimePickerCallback"
            data-datetimepicker-config="{ dropdownSelector: '#datetimeDropdown' }"/>
        </ul>
      </div>
      <div>
        <a ng-click="setPublishNow();">Now</a> |
        <a ng-click="setPublishMidnight();">Midnight</a>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button
    ng-show="article.published"
    class="btn btn-warning pull-left"
    ng-controller="UnpublishCtrl"
    confirmed-click="unpublish(article).then(publishSuccessCbk); $dismiss();"
    ng-confirm-click="Are you sure you want to unpublish this article?"
    data-dismiss="modal">Unpublish</button>
  <button
    class="btn btn-danger pull-left"
    ng-hide="article.published"
    ng-controller="ContentworkflowCtrl"
    role="button" ng-click="$dismiss(); trashContentModal(article.id);"
    data-dismiss="modal">Delete</button>

  <button class="btn btn-link" ng-click="$dismiss();">Cancel</button>
  <button id="save-pub-time-button" class="btn btn-primary" ng-click="setPubTime();">Save changes</button>
</div>
