
<div class="modal-header">
  <button
    type="button"
    class="close"
    ng-click="$dismiss();"
    aria-hidden="true">
      <i class="fa fa-times"></i>
  </button>
  <h4 class="modal-title">Preview Link Generator</h4>
</div>
<div class="modal-body">
  <p>
    This link will require loggin in to the CMS to view. It will show all content within this Special Coverage list, both published and unpublished.
  </p>
  <div class="row">
    <div class="clearfix col-md-3 top25">
        <copy-button
            button-classes-default="btn btn-primary pull-left"
            button-text="Copy To Clipboard"
            content="{{ LIST_URL + model.slug + '?full_preview=true' }}">
        </copy-button>
      </div>
  </div>
</div>