<!-- TODO use datetime-selection-modal instead -->
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Choose publish date &amp; time</h4>
</div>
<div class="modal-body">
    <div class="well">
      <div class="date-dropdown dropdown">
        <label>Date</label>
        <div class="input-group">
          <input readonly class="form-control disabled uneditable-input" value="{{datePickerValue|tzDate:'MM/dd/yyyy'}}">
          <div class="input-group-btn">
            <a class="btn-default btn" ng-click="setDateShortcut('today');">Today</a>
            <a class="btn-default btn" ng-click="setDateShortcut('tomorrow');">Tomorrow</a>
            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-calendar"></i></a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
              <datetimepicker
                data-ng-model="datePickerValue"
                data-datetimepicker-config="{ dropdownSelector: '#dateDropdown', minView: 'day' }"/>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="well">
      <label>Time ({{TIMEZONE_LABEL}})</label>
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <timepicker minute-step="5" ng-model="timePickerValue" mousewheel="false"></timepicker>
        </div>
        <div class="col-sm-8 col-xs-12">
          <div class="btn-group" style="margin-top: 34px;">
            <a class="btn-default btn" ng-click="setTimeShortcut('now');">Now</a>
            <a class="btn-default btn" ng-click="setTimeShortcut('midnight');">Midnight</a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer">
  <save-button-old
    class="pull-left"
    color-styling="btn-warning"
    ng-show="article.published"
    get-promise="unpublish()"
    on-save="unpublishCbk(promise)"
    confirm-click-with="Are you sure you want to unpublish this article?"
    config="unpubButton"></save-button-old>

  <button class="btn btn-link" ng-click="$dismiss();">Cancel</button>
  <save-button-old color-styling="btn-primary" get-promise="setPubTime()" on-save="setPubTimeCbk(promise)" config="pubButton">
  </save-button-old>
</div>
