<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Sponsored Content</h4>
</div>
<div class="modal-body edit-page">
    <div class="sponsor-info extra-info-section">
        <label>Sponsor Info</label>
        <div class="sponsor-info-field content-field">
            <label>Sponsor Name</label>
            <input type="text" ng-model="article.sponsor_name" />
        </div>
        <div class="sponsor-info-field content-field">
            <label>Sponsor Image</label>
        </div>
        <div class="main-image">
            <bettyeditable image="article.sponsor_image" ratio="16x9" placeholder-text="Sponsor Image" add-styles="fa fa-picture-o add-feature-image"/>
        </div>
        <div class="sponsor-info-field content-field">
            <label>Pixel</label>
            <input type="text" ng-model="article.client_pixel" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss();" aria-hidden="true">Done</button>
</div>
