<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Change Thumbnail</h4>
</div><!--/modal-header-->
<div class="modal-body edit-page">
    <div class="main-image thumbnail-image extra-info-section">
        <label>Thumbnail Image</label>
        <div>
            <p ng-show="!article.thumbnail_override || article.thumbnail_override.id === null">
                <span ng-show="article.first_image && article.first_image !== null">You are currently viewing the default thumbnail based off the article's image. Choose new thumbnail image if you'd like to show a custom thumbnail:</span>
                <span ng-show="!article.first_image || article.first_image === null">There is currently no main image or thumbnail set. Choose a new thumbnail if you'd like to show a custom thumbnail.</span>
                <button class="btn btn-xs btn-primary" ng-click="selectCustomThumbnail();">
                    <i class="glyphicon glyphicon-picture"></i>
                    Choose Thumbnail
                </button>
            </p>
            <div class="thumbnail-modal-image" ng-show="article.thumbnail_override && article.thumbnail_override.id !== null">
                <bettyeditable image="article.thumbnail_override" editable="true" ratio="16x9" placeholder-text="Thumbnail Image" add-styles="fa fa-picture-o"></bettyeditable>
            </div>
            <div class="thumbnail-modal-image" ng-show="(!article.thumbnail_override || article.thumbnail_override.id === null) && article.first_image && article.first_image.id">
                <bettyeditable image="article.first_image" editable="false" ratio="16x9" placeholder-text="Thumbnail Image" add-styles="fa fa-picture-o"></bettyeditable>
            </div>
        </div>
    </div>
</div><!--/modal-body-->
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$dismiss();">
        <i class="glyphicon glyphicon-ok"></i>
        Done
    </button>
</div><!--/modal-footer-->
