<div id="trash-modal"
  class="modal fade edit-page"
  tabindex="-1"
  role="dialog"
  aria-labelledby="trash"
  aria-hidden="true"
  data-backdrop="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Trash</h4>
      </div><!--/modal-header-->
      <div class="modal-body">
        <div class="extra-info-section">
          <label>Trash</label>
          <button class="btn btn-danger form-control" ng-click="trashContent(article.id);"><span class="glyphicon glyphicon-trash"> Trash</span></button>
        </div>
      </div><!--/modal-body-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Done</button>
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->