<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Version Browser</h4></div>

<div class="modal-body">
  <div class="version-browser-container">
    <div class="version-browser-left">
        <div class="version-browser-header">Versions</div>
        <ul class="version-timestamp-list nav nav-pills nav-stacked">
          <li ng-repeat="timestamp in timestamps" ng-click="setPreview(timestamp)" ng-class="{active: selectedVersion.timestamp === timestamp.ms}">
            <a href="">{{ timestamp.display }}</a>
          </li>
        </ul>
    </div>
    <div class="version-browser-right">
        <div class="version-browser-header">
            <div class="version-preview-header">Preview</div>
            <div class="version-by">
                <span>created</span>
                <span ng-show="selectedVersion.user">by {{ selectedVersion.user.displayName }}</span>
                <span>on {{selectedTimestamp.display}}</span>
            </div>
        </div>
        <div class="version-preview" ng-bind-html="selectedVersion.content.body">
    </div>
    </div>
  </div>
</div>

<div class="modal-footer">
    <span ng-show="articleIsDirty" class="text-danger version-browser-dirty-warning">
        <i class="glyphicon glyphicon-warning-sign"></i>
        You have unsaved changes that will be overwritten by restoring an old version!
    </span>
    <button ng-show="selectedVersion" class="btn" ng-class="{'btn-danger': articleIsDirty, 'btn-success': !articleIsDirty}" aria-hidden="true" ng-click="restoreSelected();">
        <i class="glyphicon" ng-class="{'glyphicon-warning-sign': articleIsDirty, 'glyphicon-open': !articleIsDirty}"></i>
        Restore Selected Version
    </button>
    <button class="btn btn-default" aria-hidden="true" ng-click="$dismiss();">
        <i class="glyphicon glyphicon-remove"></i>
        Cancel
    </button>
</div>
