<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Version Browser</h4></div>

<div class="modal-body">
  <div class="version-browser-container">
    <ul class="version-timestamp-list nav nav-pills nav-stacked">
      <li ng-repeat="timestamp in timestamps">
        <a href="" ng-click="preview(timestamp, $event);">{{timestamp|tzDate:"MM-dd-yyyy  h:mm a"}}</a></li></ul>
    <div class="version-preview" ng-bind-html="versionPreview"></div></div></div>

<div class="modal-footer">
    <button ng-show="versionPreview" class="btn btn-warning" aria-hidden="true" ng-click="restoreSelected();">Restore Selected Version</button>
    <button class="btn btn-default" aria-hidden="true" ng-click="$dismiss();">Close</button></div>
