<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss();" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Version Browser</h4>
</div>

<div class="modal-body">
  <div ng-show="versions.length > 0">
    <p class="text-info">
      <span ng-show="maxVersions && versions.length == maxVersions">
        <i class="glyphicon glyphicon-info-sign"></i>
        A maximum of {{ maxVersions }} versions can be stored by the system. The oldest revisions will be deleted as
        new revisions are created.
      </span>
      <span ng-show="!maxVersions">
        <i class="glyphicon glyphicon-info-sign"></i>
        Versions are being stored locally by your browser. If you run out of space, versions created before yesterday
        will be deleted from your local cache.
      </span>
    </p>
    <div class="version-browser-container">
      <div class="version-browser-left">
          <div class="version-browser-header">Versions</div>
          <ul class="version-timestamp-list nav nav-pills nav-stacked">
            <li ng-repeat="version in versions" ng-click="setPreview(version)" ng-class="{active: selectedVersion === version}">
              <a href="">
                <span class="version-timestamp">{{ version.timestamp_display }}</span><br>
                <span class="version-by" ng-show="version.user.displayName">{{ version.user.displayName }}</span>
              </a>
            </li>
          </ul>
      </div>
      <div class="version-browser-right">
          <div class="version-browser-header">Preview</div>
          <div class="version-preview" ng-bind-html="selectedVersion.content.body">
      </div>
      </div>
    </div>
  </div>
  <div ng-show="versions.length < 1">
      No versions yet, save your article to create the first version!
  </div>
</div>

<div class="modal-footer">
    <span ng-show="articleIsDirty" class="text-danger version-browser-dirty-warning">
        <i class="glyphicon glyphicon-warning-sign"></i>
        You have unsaved changes that will be overwritten by restoring an old version!
    </span>
    <button ng-show="selectedVersion" class="btn" ng-class="{'btn-danger': articleIsDirty, 'btn-success': !articleIsDirty}" aria-hidden="true" ng-click="restoreSelected();">
        <i class="glyphicon" ng-class="{'glyphicon-warning-sign': articleIsDirty, 'glyphicon-open': !articleIsDirty}"></i>
        Restore Selected Version
    </button>
    <button class="btn btn-default" aria-hidden="true" ng-click="$dismiss();">
        <i class="glyphicon glyphicon-remove"></i>
        Cancel
    </button>
</div>
