<div class="row">
    <div class="col-xs-8">
        <label>Content IDs:</label>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="$parent.$parent.newContentIdPrepend" placeholder="Content ID" />
    </div>
    <div class="col-xs-4">
        <button type="submit" class="btn btn-default" ng-click="add(true);">Add</button>
    </div>
</div>
<div class="row" ng-repeat="contentId in pzone.data.content_ids track by $index">
    <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="pzone.data.content_ids[$index]" />
    </div>
    <div class="col-xs-4">
        <button type="button" class="close pull-left" ng-click="remove(contentId)" aria-hidden="true">&times;</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="$parent.$parent.newContentId" placeholder="Content ID" />
    </div>
    <div class="col-xs-4">
        <button type="submit" class="btn btn-default" ng-click="add()">Add</button>
    </div>
</div>