<table class="table-condensed table table-striped">

<tr class="row">
    <th>Content ID</th>
    <th>Actions</th>
</tr>

<tr class="row">
    <td>
        <input type="text" class="form-control" ng-model="$parent.$parent.newContentIdPrepend" placeholder="Content ID" />
    </td>
    <td>
        <button type="submit" class="btn btn-default" ng-click="add(true);">Add</button>
    </td>
</tr>

<tr class="row" ng-repeat="contentId in pzone.data.content_ids track by $index">
    <td>
        <input type="text" class="form-control" ng-model="pzone.data.content_ids[$index]" />
    </td>
    <td>
        <button type="button" class="close btn btn-link pull-left" ng-click="remove(contentId)" aria-hidden="true">&times;</button>
    </td>
</tr>

<tr class="row">
    <td>
        <input type="text" class="form-control" ng-model="$parent.$parent.newContentId" placeholder="Content ID" />
    </td>
    <td>
        <button type="submit" class="btn btn-default" ng-click="add()">Add</button>
    </td>
</tr>

</table>