<top-bar
  logo-href="/cms/app/rate-overrides"
  save-function="saveModel"
  save-disable-when="model.$dirty().length === 0 && !isNew">
</top-bar>

<div id="rate-overrides-edit">
  <div class="container col-xs-offset-2 col-xs-8">
    <h3>
      Edit Rate Override
    </h3>
    <div class="row well">

      <div class="row">
        <div class="form-group">

          <contributor-field override=model></contributor-field>

        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <label for="roleSelect">ROLE</label>
          <div class="roleSelect">
            <role-field model=model></role-field>
          </div>
        </div>
        <div class="form-group col-md-3" ng-show="isHourlyRated()">
          <label for="hourly-override">Set Hourly Override</label>
          <input
            type="text"
            class="form-control"
            ng-model="model.rates.Hourly.override_rate">
        </div>
        <div class="form-group col-md-3" ng-show="isFlatRated()">
          <label for="flat-rate-override">Set Flat Rate Override</label>
          <input
            type="text"
            class="form-control"
            ng-model="model.rates.FlatRate.override_rate">
        </div>
      </div>

      <div class="row">
        <div class="table-responsive" ng-show="isFeatureRated()">
          <table class="table">
            <thead>
              <tr>
                <td><label>Feature Types</label></td>
                <td><label>Rate</label></td>
                <td><label>Override Rate</label></td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="featureType in model.featureTypes">
                <td>{{ featureType.featureType }}</td>
                <td>
                  ${{ featureType.rate }}
                </td>
                <td>
                  <div class="input-group">
                    <span class="input-group-btn">
                      $
                    </span>
                    <input
                      type="text"
                      value="{{ featureType.overrideRate }}"
                      class="form-control">
                    </input>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>