<section>
  <div class="metadata container-fluid">
    <div class="row">
      <featuretype-field article="article" class="pull-left"></featuretype-field>
      <sections-field article="article" class="pull-left"></sections-field></div>

    <div class="row">
      <tags-field article="article"></tags-field></div></div></section>

<section class="main-image row">
  <div class="clearfix well">
    <video-field article="article"></video-field></div></section>

<section>
  <onion-editor id="content-title" ng-model="article.title" role="singleline"></onion-editor>
  <onion-editor id="content-subhead" ng-model="article.subhead" role="singleline"></onion-editor></section>

<section>
  <div class="well clearfix">
  <authors-field article="article"></authors-field></div></section>

<onion-editor id="content-body" 
  ng-model="article.body" 
  role="multiline" 
  placeholder="Write here" 
  inline-objects="/views/inline-objects.json"
  link-domain="theonion.com"
  link-search-handler="dummySearchHandler"
  />