<button id="betty-editable-add-image" ng-hide="image && image.id" ng-class="addStyles"><span>{{placeholderText}}</span>
    <input type="file" class="upload" style="display: none" />
</button>
<div ng-show="image && image.id" ng-style="imageStyling" class="image-edit-container">
        <div class="image-edit-overlay">
            <div class="remove">
                <button ng-click="removeImage();" class="fa fa-trash-o"></button></div>
            <div class="edit">
                <button name="inline_edit" ng-click="editImage();">EDIT CROPS</button></div>
            <div class="clearfix row caption-alt">
                <div class="main-image-meta main-image-caption col-md-6 form-group" ng-hide="hideCaption">
                    <label class="control-label small">Caption</label>
                    <input type="text" class="form-control" placeholder="Brief explanation of image" ng-model="image.caption" />
                </div>
                <div class="main-image-meta main-image-alt col-md-6 form-group">
                    <label class="control-label small">Alt text</label>
                    <input type="text" class="form-control" placeholder="Describes image's contents" ng-model="image.alt" />
                </div>
            </div>
        </div>
</div>
