<button class="btn btn-sm bug-report-button" ng-hide="modalVisible" ng-click="showModal()">Report A Bug</button>
<div ng-show="modalVisible" class="bug-report-modal">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="dismissModal();" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Tell us what happened</h4>
    </div>
    <div class="modal-body">
      <div ng-hide="showThankYou">
        <section class="form-group">
            <h6>When I tried to:</h6>
            <textarea class="form-control" ng-model="report.firstRes"></textarea>
            <h6>I thought this would happen:</h6>
            <textarea class="form-control" ng-model="report.secondRes"></textarea>
            <h6>...but this happened instead:</h6>
            <textarea class="form-control" ng-model="report.thirdRes"></textarea>
        </section>
      </div>
      <div ng-show="showThankYou">
        <h6>Thanks for taking the time to fill out a bug report!</h6>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-show="showThankYou" type="button" class="btn btn-sm btn-primary" ng-click="dismissModal();">OK</button>
      <button ng-hide="showThankYou" type="button" class="btn btn-sm btn-link" ng-click="dismissModal();">Cancel</button>
      <save-button-old ng-hide="showThankYou" class="btn-sm" color-styling="btn-primary" get-promise="sendToWebtech();" on-save="sendToWebtechCbk(promise)" config="reportButton">
      </save-button-old>
    </div>
  </div>
</div>
