<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <span
          datetime-selection-modal-opener
          ng-model="postDate"
          modal-title="Choose Date to Post">
        <span ng-if="postDate">{{ postDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
        <span ng-if="!postDate">&lt;choose a post date&gt;</span>
        -
      </span>
      <onion-editor
        ng-model="notification.title"
        role="singleline"
        placeholder="Title">
      </onion-editor>
    </h4>
  </div>
  <div class="panel-body">
    <span class="post-date-and-description">
      <div class="post-description">
        <onion-editor
          ng-model="notification.description"
          role="singleline"
          formatting="italic"
          placeholder="Description">
        </onion-editor>
      </div>
    </span>
    <onion-editor
      ng-model="notification.body"
      role="multiline"
      placeholder="Write here">
    </onion-editor>
  </div>
  <div class="panel-footer clearfix">
    <div class="pull-left">
      <div class="form-inline">
        <div class="form-group">
          <label>Post on</label>
          <span
             datetime-selection-modal-opener
             ng-model="postDate"
             modal-title="Choose Date to Post">
            <i class="glyphicon glyphicon-calendar"></i>
            <span ng-if="postDate">{{ postDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
            <span ng-if="!postDate">&lt;choose a post date&gt;</span>
          </span>
        </div>
        <div class="form-group" >
          <label>and end notifications</label>
          <span
             datetime-selection-modal-opener
             ng-model="notifyEndDate"
             modal-title="Choose Date to End Notifications">
            <i class="glyphicon glyphicon-calendar"></i>
            <span ng-if="notifyEndDate">{{ notifyEndDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
            <span ng-if="!notifyEndDate">&lt;choose an end notification date&gt;</span>
          </span>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <div class="btn-group">
        <button class="btn btn-success btn-xs" ng-disabled="!notificationDirty" ng-click="saveNotification()">
          <i class="glyphicon glyphicon-save"></i>
          Save
        </button>
        <button class="btn btn-danger btn-xs" ng-click="deleteNotification()">
          <i class="glyphicon glyphicon-remove"></i>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
