<nav-bar view="nav" ></nav-bar>

<div id="content-wrapper" class="container cms-notifications">
  <h2 class="heading">CMS Notifications</h2>

  <div class="row well well-sm">
    <div
        ng-if="userIsSuperuser"
        class="add-notification clearfix">
      <span ng-if="cmsNotifications.length < 1" class="pull-left text-info">
        <i class="glyphicon glyphicon-info-sign"></i>
        No CMS notifications yet, click "New CMS Notification" to add one!
      </span>
      <button class="btn btn-success btn-xs pull-right" ng-click="newCmsNotification()">
        <i class="glyphicon glyphicon-plus"></i>
        New CMS Notification
      </button>
    </div>
    <div ng-if="cmsNotifications.length > 0" class="col-md-12 panel-group">
      <cms-notification
          ng-repeat="cmsNotification in cmsNotifications"
          cmsNotification="cmsNotification"
          class="cms-notification"></cms-notification>
    </div>
    <div ng-if="!userIsSuperuser && cmsNotifications.length < 1">
      No CMS notifications yet, check back soon!
    </div>
  </div>

</div>
