<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <div ng-show="$parent.userIsSuperuser">
        <div
            tooltip="{{ !titleValid ? 'Title must be between 0 and 110 characters!' : '' }}"
            tooltip-placement="bottom">
          <onion-editor
            ng-model="notification.title"
            role="singleline"
            placeholder="Title"
            ng-class="{'bg-danger text-danger': !titleValid}">
          </onion-editor>
        </div>
      </div>
      <div ng-show="!$parent.userIsSuperuser">
        <div ng-bind-html="notification.title"></div>
        <div class="header-post-date">{{ postDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</div>
      </div>
    </h4>
  </div>
  <div class="panel-body">
    <onion-editor
      ng-show="$parent.userIsSuperuser"
      ng-model="notification.body"
      role="multiline"
      placeholder="Write here">
    </onion-editor>
    <span ng-show="!$parent.userIsSuperuser" ng-bind-html="notification.body"></span>
  </div>
  <div ng-show="$parent.userIsSuperuser" class="panel-footer clearfix">
    <div class="pull-right">
      <div>
        <label>Post on</label>
        <span
            datetime-selection-modal-opener
            ng-model="postDate"
            modal-title="Choose Date to Post"
            ng-class="{'bg-danger text-danger': !postDateValid}">
          <span
              tooltip="{{ !postDateValid ? 'This date must occur before promotion end date!' : '' }}"
              tooltip-placement="bottom">
            <i class="glyphicon glyphicon-calendar"></i>
            <span ng-show="postDate">{{ postDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
            <span ng-show="!postDate">&lt;choose date&gt;</span>
          </span>
        </span>
      </div>
      <div>
        <label>Promote until</label>
        <span
            datetime-selection-modal-opener
            ng-model="notifyEndDate"
            modal-title="Choose Date to End Notifications"
            ng-class="{'bg-danger text-danger': !notifyEndDateValid}">
          <span
              tooltip="{{ !notifyEndDateValid ? 'This date must occur after post date!' : '' }}"
              tooltip-placement="bottom">
            <i class="glyphicon glyphicon-calendar"></i>
            <span ng-show="notifyEndDate">{{ notifyEndDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
            <span ng-show="!notifyEndDate">&lt;choose date&gt;</span>
          </span>
        </span>
      </div>
      <div class="btn-group">
        <button
            class="btn btn-success btn-xs"
            ng-disabled="!notificationDirty || !notificationValid"
            ng-click="saveNotification()">
          <i class="glyphicon glyphicon-save"></i>
          Save
        </button>
        <button class="btn btn-danger btn-xs" ng-click="deleteNotification()">
          <i class="glyphicon glyphicon-remove"></i>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
