<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
        <span
            ng-if="notification.editable"
            datetime-selection-modal-opener
            ng-model="postDate"
            modal-title="Choose Date to Post"
            ng-class="{'bg-danger text-danger': !postDateValid}">
          <span
              tooltip="{{ !postDateValid ? 'This date must occur before notification end date!' : '' }}"
              tooltip-placement="bottom">
            <span ng-if="postDate">{{ postDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
            <span ng-if="!postDate">&lt;choose a post date&gt;</span>
        </span>
      </span>
      <span ng-if="!notification.editable">{{ postDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
      -
      <span
          ng-if="notification.editable"
          tooltip="{{ !titleValid ? 'Title must be between 0 and 110 characters!' : '' }}"
          tooltip-placement="bottom">
        <onion-editor
          ng-model="notification.title"
          role="singleline"
          placeholder="Title"
          ng-class="{'bg-danger text-danger': !titleValid}">
        </onion-editor>
      </span>
      <span ng-if="!notification.editable">{{ notification.title }}</span>
    </h4>
  </div>
  <div class="panel-body">
    <onion-editor
      ng-if="notification.editable"
      ng-model="notification.body"
      role="multiline"
      placeholder="Write here">
    </onion-editor>
    <span ng-if="!notification.editable">{{ notification.body }}</span>
  </div>
  <div ng-if="notification.editable" class="panel-footer clearfix">
    <div class="pull-left">
      <div class="form-inline">
        <div class="form-group">
          <label>Post on</label>
          <span
              datetime-selection-modal-opener
              ng-model="postDate"
              modal-title="Choose Date to Post"
              ng-class="{'bg-danger text-danger': !postDateValid}">
            <span
                tooltip="{{ !postDateValid ? 'This date must occur before notification end date!' : '' }}"
                tooltip-placement="bottom">
              <i class="glyphicon glyphicon-calendar"></i>
              <span ng-if="postDate">{{ postDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
              <span ng-if="!postDate">&lt;choose a post date&gt;</span>
            </span>
          </span>
        </div>
        <div class="form-group" >
          <label>and end notifications</label>
          <span
              datetime-selection-modal-opener
              ng-model="notifyEndDate"
              modal-title="Choose Date to End Notifications"
              ng-class="{'bg-danger text-danger': !notifyEndDateValid}">
            <span
                tooltip="{{ !notifyEndDateValid ? 'This date must occur after post date!' : '' }}"
                tooltip-placement="bottom">
              <i class="glyphicon glyphicon-calendar"></i>
              <span ng-if="notifyEndDate">{{ notifyEndDate.toDate() | date: 'MMM d, yyyy, h:mma' }}</span>
              <span ng-if="!notifyEndDate">&lt;choose an end notification date&gt;</span>
            </span>
          </span>
        </div>
      </div>
    </div>
    <div class="pull-right btn-group">
      <button
          class="btn btn-success btn-xs"
          ng-disabled="!notificationDirty || !notificationValid"
          ng-click="saveNotification()">
        <i class="glyphicon glyphicon-save"></i>
        Save
      </button>
      <button class="btn btn-danger btn-xs" ng-click="deleteNotification()">
        <i class="glyphicon glyphicon-remove"></i>
        Delete
      </button>
    </div>
  </div>
</div>
