<nav-bar view="toolbar" article="article"></nav-bar>

<div class="container">
    <div id="info-row">
        <div id="alert-area">
            <div class="alert alert-danger errors-panel" ng-show="errors">
                <dl ng-repeat="(field, errorList) in errors" class="dl-horizontal small">
                    <dt>{{field}}</dt>
                    <dd ng-repeat="error in errorList">{{error}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="edit-page row">
        <div id="content-wrapper" class="container">
            <div ng-if="article.polymorphic_ctype" ng-include="CONTENT_PARTIALS_URL + article.polymorphic_ctype + '.html' + CACHEBUSTER"></div>
            <h4 ng-if="!article.polymorphic_ctype" style="text-align:center;">Error: article has no content type.</h4>
        </div>
        <div class="status-bar">
            <span class="wordcount"></span>
        </div>
    </div>
</div>

<script>
$(".image-modal").on("shown.bs.modal", function(){
    window.picturefill();
});
</script>