<div class="panel-body">
  <div class="pull-left col-sm-3 col-xs-12">
    <a class="thumbnail" href="/cms/app/edit/{{article.id}}">
      <static-image image="article.thumbnail"></static-image>
    </a>
  </div>

  <div class="pull-right col-sm-9 col-xs-12">
    <div class="pull-right col-xs-5 col-med-7 col-lg-3">
      <h6>Actions</h6>
      <div class="form-group" hide-if-forbidden options-url="/cms/api/v1/content/{{article.id}}/"><a class="form-control btn btn-success" href="/cms/app/edit/{{article.id}}">Edit article&nbsp;&nbsp;<i class="fa fa-pencil"></i></a></div>
      <div class="form-group"><a class="form-control btn btn-primary" ng-show="article.id > -1" target="_blank" href="/r/{{article.id}}">Preview&nbsp;&nbsp;<i class="fa fa-share"></i></a></div>
      <div class="form-group" hide-if-forbidden options-url="/cms/api/v1/content/{{article.id}}/publish/"><a class="form-control btn btn-primary" ng-show="article.id > -1" ng-controller="ContentworkflowCtrl" ng-click="pubTimeModal(article);">Edit publish time&nbsp;&nbsp;<i class="fa fa-calendar"></i></a></div>
      <div class="form-group" hide-if-forbidden options-url="/cms/api/v1/content/{{article.id}}/publish/"><save-button class="form-control" color-styling="btn-warning" ng-show="article.published" ng-controller="UnpublishCtrl" get-promise="unpublish()" on-save="unpublishCbk(promise)" confirm-click-with="Are you sure you want to unpublish this article?" config="unpubButton"></save-button></div>
      <div class="form-group" hide-if-forbidden options-url="/cms/api/v1/content/{{article.id}}/trash/"><button ng-controller="ContentworkflowCtrl" class="form-control btn btn-danger" role="button" ng-hide="article.published" ng-click="trashContentModal(article.id);">Delete&nbsp;&nbsp;<i class="fa fa-trash"></i></button></div></div>

    <dl class="pull-left col-xs-7 col-med-4 col-lg-9">
      <dt>Status</dt>
      <dd>
        <a class="text-success" ng-controller="ContentworkflowCtrl" ng-show="getStatus(article) == 'published'" ng-click="pubTimeModal(article);" >{{ article.published|tzDate:"EEE',' M/d/yy' at ' h:mm a" }}</a>
        <a class="text-info" ng-controller="ContentworkflowCtrl" ng-show="getStatus(article) == 'unpublished'" ng-click="pubTimeModal(article);" >Draft</a>
        <a class="text-info" ng-controller="ContentworkflowCtrl" ng-show="getStatus(article) == 'scheduled'" ng-click="pubTimeModal(article);" ><strong>Scheduled</strong> for {{ article.published|tzDate:"EEE M/d/yy 'at' h:mm a" }}</a></dd>

      <dt ng-show="article.authors">Author<span ng-show="article.authors.length > 1">s</span></dt>
      <dd class="author"><span ng-repeat="author in article.authors">{{ author.first_name }} {{ author.last_name }}<span ng-show="!$last">, </span></span></dd>

      <dt ng-show="article.feature_type">Feature type</dt>
      <dd class="feature-type">{{ article.feature_type }}</dd>

      <dt ng-show="article.tags">Tags</dt>
      <dd class="section"><span ng-repeat="tag in article.tags">{{ tag.name | truncateByWords:3 }}<span ng-show="!$last">, </span></span></dd>

      <dt ng-show="article.id">Article ID</dt>
      <dd>{{ article.id }}</dd></dl></div></div>