<nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl" ng-include="PARTIALS_URL + 'toolbar.html'" ></nav>

<imagedrawer open-image-drawer="openImageDrawer" close-image-drawer="closeImageDrawer" article="article"></imagedrawer>

<div class="container">
    <div id="info-row">
        <div id="alert-area">
            <div class="alert alert-danger errors-panel" ng-show="errors">
                <dl ng-repeat="(field, errorList) in errors" class="dl-horizontal small">
                    <dt>{{field}}</dt>
                    <dd ng-repeat="error in errorList">{{error}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="edit-page row">
        <div id="content-wrapper" class="container">
            <div ng-if="article.polymorphic_ctype" ng-include="CONTENT_PARTIALS_URL + article.polymorphic_ctype + '.html' + CACHEBUSTER"></div>
            <h4 ng-if="!article.polymorphic_ctype" style="text-align:center;">Error: article has no content type.</h4>
        </div>
        <div class="status-bar"><span class="wordcount"></span></div>
    </div>
</div>

<div id="thumbnail-modal"
    class="modal fade edit-page image-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="thumbnail"
    aria-hidden="true"
    data-backdrop="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Thumbnail</h4>
            </div><!--/modal-header-->
            <div class="modal-body">
                <div class="main-image thumbnail-image extra-info-section">
                    <label>Thumbnail Image</label>
                    <titleimage article="article" image="article.image" caption="false" placeholder-text="Thumbnail Image"></titleimage>
                </div>
            </div><!--/modal-body-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Done</button>
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->

<div id="sponsored-content-modal"
    class="modal fade edit-page image-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="sponsored-content"
    aria-hidden="true"
    data-backdrop="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Sponsored Content</h4>
            </div><!--/modal-header-->
            <div class="modal-body">
                <div class="sponsor-info extra-info-section">
                    <label>Sponsor Info</label>
                    <div class="sponsor-info-field content-field">
                        <label>Sponsor Name</label>
                        <input type="text" ng-model="article.sponsor_name" />
                    </div>
                    <div class="sponsor-info-field content-field">
                        <label>Sponsor Image</label>
                    </div>
                    <div class="main-image">
                        <titleimage article="article" image="article.sponsor_image" caption="false" placeholder-text="Sponsor Image" format="png" crop="original"></titleimage>
                    </div>
                    <div class="sponsor-info-field content-field">
                        <label>Pixel</label>
                        <input type="text" ng-model="article.client_pixel" />
                    </div>
                </div>
            </div><!--/modal-body-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Done</button>
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->
<script>
$(".image-modal").on("shown.bs.modal", function(){
    window.picturefill();
});
</script>


<div id="embed-modal"
    class="modal fade bs-modal-lg edit-page"
    tabindex="-1"
    role="dialog"
    aria-labelledby="extra-info"
    aria-hidden="true"
    data-backdrop="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Embed something</h4>
            </div><!--/modal-header-->
            <div class="modal-body">
                <label style="display:none">Source URL</label>
                <input type="text" style="display:none" class="embed-source"></input>
                <label>Embed code</label>
                <textarea class="embed-body"></textarea>
                <div class="embed-error alert alert-danger" style="display:none"><strong>Can't embed nothin'</strong>. Be sure to enter something into the embed code field.</div>
                <label>Caption (optional)</label>
                <input type="text" class="embed-caption"></input>


            </div><!--/modal-body-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button id="set-embed-button" class="btn btn-primary" aria-hidden="true">Embed</button>
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div>