<nav-bar view="nav" ></nav-bar>

<div class="container">

  <cms-notify-container class="cms-notify-container"></cms-notify-container>

  <div class="row filter-shortcuts" role="navigation">
    <div class="navbar-btn navbar-left" role="toolbar">
      <status-filter></status-filter>
    </div>
    <div class="navbar-btn navbar-right" role="toolbar">
      <create-content></create-content>
    </div></div>

    <div class="row">
      <div class="col-xs-12 navbar-btn filterwidget-container" style="padding: 0;">
        <filter-widget></filter-widget>
      </div>
    </div>

    <div class="row">
      <table class="panel-group col-xs-12 table table-condensed table-bordered table-striped" id="contentListAccordion">
        <tr ng-if="contentData.totalItems === 0"><td><h1 class="h4 text-center">No content here</h1></td></tr>
        <tr class="panel panel-default" ng-repeat="article in contentData.content | filter:text_filter">
          <td>
            <div class="panel-heading row" data-toggle="collapse" href="#collapse-{{ article.id }}" ng-click="collapse[article.id] = !collapse[article.id]">
              <div class="heading col-xs-12 col-sm-8">
                <strong>{{ article.feature_type }}</strong><br>
                <a class="panel-title collapsed" ng-bind-html="article.title | truncateByWords:15"></a></div>
              <div class="published col-xs-12 col-sm-4">
                <div class="publish-widget small" ng-hide="article.id == -1">
                  <span ng-show="article.authors">By {{ article.authors[0].first_name | truncateByCharacters: 1 }} {{ article.authors[0].last_name }}
                    <span ng-show="article.authors.length > 1">and {{ article.authors.length - 1}} others</span> &middot; </span>
                  <a class="text-success" ng-controller="ContentworkflowCtrl" ng-show="getStatus(article) == 'published'" ng-click="pubTimeModal(article);" >{{ article.published|tzDate:"EEE',' M/d/yy' at ' h:mm a" }}</a>
                  <a class="text-info" ng-controller="ContentworkflowCtrl" ng-show="getStatus(article) == 'unpublished'"  ng-click="pubTimeModal(article);" >Draft</a>
                  <a class="text-info" ng-controller="ContentworkflowCtrl" ng-show="getStatus(article) == 'scheduled'" ng-click="pubTimeModal(article);" ><strong>Scheduled</strong> for {{ article.published|tzDate:"EEE M/d/yy 'at' h:mm a" }}</a></div></div></div>

            <div id="collapse-{{ article.id }}" class="panel-collapse collapse" lazy-include template='content-list-detail-panel.html'><span class="fa fa-spinner fa-spin"></span></div></td></tr></table></div>

    <div class="row">
      <pagination max-size="10" total-items="contentData.totalItems" ng-model="pageNumber" items-per-page="20" ng-change="goToPage(page);" boundary-links="true"></pagination></div></div>
