<section id="page-prev" class="well well-sm">
	<h3 class="h5 modal-title" data-target="#preview-expand" data-toggle="collapse">
		Page preview <small>Click to expand</small><span class="fa fa-plus-square-o pull-right"></span>
	</h3>
	<div class="inner collapse" style="overflow:hidden;" id="preview-expand">
		<ul class="nav nav-pills nav-stacked pull-left">
			<li class="active"><a href="#device-lg" data-toggle="tab">Large</a></li>
			<li><a href="#device-md" data-toggle="tab">Medium</a></li>
			<li><a href="#device-sm" data-toggle="tab">Small</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active in" id="device-lg">
				<div>
					<div class="inner cf">
						<div ng-repeat="article in promotedArticles track by $index" data-index="{{$index}}">
							<div ng-if="article.image.id" style="position: relative;">
								<img class="loading-image" style="width: 100%;" src="/static/cms/img/loading.gif">
								<div data-index="{{$index}}" class="media-object pull-left article-0{{$index+1}} image" data-type="image" data-format="jpg" data-alt="{{article.title}}" responsive-image image-id="{{ article.image.id }}" crop="16x9">
									<div></div>
								</div>
							</div>
							<span ng-if="!article.image.id" class="no-image text-large"><i class="fa-exclamation-triangle fa"></i><span>No image selected.</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>