<div class="editor-wrapper">
    <div class="editorPlaceholder"></div>
    <div class="editor" contenteditable="true"></div> 
    <div class="document-tools toolbar fixed">
      <div class="toolbar-contents">
        <button data-command-name="linkPrompt"><span class="fa fa-link"></span><span class="btn-label">Link</span></button>
        <button data-command-name="bold"><span class="fa fa-bold"></span><span class="btn-label">Bold</span></button>
        <button data-command-name="italic"><span class="fa fa-italic"></span><span class="btn-label">Italic</span></button>
        <button data-command-name="h4"><span class="heading-icon">H<sub>2<sub></span><span class="btn-label">Sub Heading</span></button>
        <button data-command-name="h3" class="hiddenbydefault"><span class="heading-icon">H<sub>1</sub></span><span class="btn-label">Heading</span></button>
        <button class="hiddenbydefault" data-command-name="blockquote"><span class="fa fa-quote-left"></span><span class="btn-label">Block quote</span></button>
        <button class="hiddenbydefault" data-command-name="insertOrderedList"><span class="fa fa-list-ol"></span><span class="btn-label">Numbered List</span></button>
        <button class="hiddenbydefault" data-command-name="insertUnorderedList"><span class="fa fa-list-ul"></span><span class="btn-label">Bullet List</span></button>
        <button class="hiddenbydefault" data-command-name="strikeThrough"><span class="fa fa-strikethrough"></span><span class="btn-label">Strikethrough</span></button>
        <button class="hiddenbydefault" data-command-name="removeFormat"><span class="fa fa-times"></span><span class="btn-label">Remove Formatting</span></button>
      </div>
    </div>
    <div class="embed-tools toolbar">
      <div class="toolbar-contents">
        <button class="embed-button"><span class="fa fa-plus-circle"></span><span class="btn-label hiddenbydefault">Insert something</span></button>
        <div class="hiddenbydefault">
          <button data-command-name="image" title="Image">
              <span class="fa fa-picture-o"></span><span class="btn-label">Image</span>
          </button>
          <button data-command-name="onion-video" title="Video">
              <span class="fa fa-film"></span><span class="btn-label">Upload Video</span>
          </button>
          <button data-command-name="youtube" title="Youtube">
              <span class="fa fa-youtube"></span><span class="btn-label">Youtube Video</span>
          </button>
          <button data-command-name="embed" title="Embed Something">
              <span class="fa fa-code"></span><span class="btn-label">Embed Something</span>
          </button>
          <button data-command-name="hr" title="HR">
              <span class="fa fa-minus"></span><span class="btn-label">Horizontal Rule</span>
          </button>
        </div>
      </div>
    </div>
    <div class="link-tools toolbar"></div>
    <div class="inline-tools toolbar" style="display: none;">
        <div class="top toolbar-contents">
            <div>
                <button data-command-name="inline_up" class="fa fa-arrow-up"></button>
                <button data-command-name="inline_down" class="fa fa-arrow-down"></button>
                <button class="size inline-attribute" data-command-name="inline_size"></button>
                <button class="crop inline-attribute" data-command-name="inline_crop"></button>
            </div>
        </div>
        <div class="remove">
            <button data-command-name="inline_remove" class="fa fa-trash-o"></button>
        </div>
        <div class="edit">
            <button data-command-name="inline_edit">Edit</button>
            <button data-command-name="inline_caption">Caption</button>
        </div>
    </div>                        
</div>