<div class="image-cropper-modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel();" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Image Cropper</h4>
  </div>
  <div class="modal-body">
    <ul ng-hide="cropMode" class="thumb-list">
      <li ng-repeat="(ratio, selection) in image.selections">
        <div ng-click="setSelectedCrop(ratio, selection)" ng-style="thumb_styles.{{ ratio }}" class="cropped-thumb">
        </div>
      </li>
    </ul>
    <div ng-show="cropMode">
      <div ng-style="preview_style" class="cropped-thumb"></div>
      <button ng-click="save()" class="btn btn-default">Save</button>
      <button ng-click="saveAndNext()" class="btn btn-success">Save & Do Next</button>
      <div>
        <span ng-repeat="ratio in ratioOrder" class="fa fa-circle small-paginator"></span>
      </div>
      <div id="crop-image">
        <img ng-src="{{ image_url }}">
      </div>
    </div>
  </div>
</div>
