<style>
	.video-container{
		position: relative;
		width: 818px;
		height: 460px;
	}
	.video-container iframe{
		width: 100%;
		height: 100%;
	}
	.video-container-edit{
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(100,100,100,0.5);
		color: white;
		padding: 15px;
	}
	.video-container-edit input{
		width: 225px;
	}

	.video-container .edit-button{
		position: absolute;
		top: 15px;
		left: 15px;
	}

	.video-container button{
		position: absolute;
		top: 15px;
		display: none;
		z-index: 30;
	}
	.video-container .clear-button{ right: 15px; }
	.video-container .edit-button{ left: 15px; }
	.video-container:hover button{
		display: block;
	}

</style>
<button ng-hide="article && article.video" ng-click="addVideo();" class="add-video-button fa fa-video-camera add-feature-image"><span>Click to add video</span></button>

<div class="video-container" ng-show="article && article.video" data-videoid="{{video.id}}">
	<iframe src="{{embedUrl || ''}}" name="embedded" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" frameborder="no" scrolling="no"></iframe>


	<button class="btn btn-info edit-button">Edit</button>
	<button class="btn btn-danger clear-button" ng-click="clearVideo();">Clear</button>
</div>

<div id="confirm-clear-video-modal"
	class="modal fade edit-page"
	tabindex="-1"
	role="dialog"
	aria-labelledby="confirm-clear-video"
	aria-hidden="true"
	data-backdrop="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Clear video</h4>
			</div><!--/modal-header-->
			<div class="modal-body">
				Are you sure you want to clear this video?
			</div><!--/modal-body-->
            <div class="modal-footer">
                <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button id="clear-video-confirm-button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" ng-click="clearVideo(true);">Clear</button>
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->