<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span></button>
  <a id="logo" class="navbar-brand" href="/cms/app/list"><img style="width: 50px; height: 50px;" src="{{ NAV_LOGO }}"></a></div>

<div class="collapse navbar-collapse" id="navbar-collapse">
  <ul class="nav navbar-nav">
    <active-nav href="/cms/app/list" label="Content"></active-nav>
    <active-nav href="/cms/app/promotion/" label="Promotion"></active-nav>
    <active-nav href="/cms/app/targeting/" label="Targeting"></active-nav>