<div class="media article-container">

	<div class="media-object pull-left img-thumbnail" style="width: 120px;">
		<div ng-if="article.image.id" style="position: relative;">
			<img class="loading-image" style="width: 100%;" src="{{ LOADING_IMG_SRC }}">
			<div data-type="image" class="image" style="position: absolute; top: 0; width: 100%; height: 100%;" data-format="jpg" data-alt="{{article.title}}" responsive-image image-id="{{ article.image.id }}" crop="16x9">
				<div></div>
			</div>
		</div>
		<span ng-if="!article.image.id" class="no-image text-large"><i class="fa-exclamation-triangle fa"></i><span>No image selected.</span></span>
	</div>

	<div class="inner media-body">
		<h1 class="h5" ng-bind-html="article.title" class="media-heading"></h1>
		<p class="small">
			<span ng-show="article.feature_type" ng-bind-html="article.feature_type"></span>
			<span ng-show="article.ratings[0].media_item.show && article.feature_type">&middot;</span>
			<span ng-show="article.ratings[0].media_item.show" ng-bind-html="article.ratings[0].media_item.show"></span><br />
			<span ng-show="article.published" ng-bind-html="article.published|date: '\'Published\' M/d\' @ \' h:mm a' "></span>
		</p>
	</div>
</div>
