<div class="media article-container">

	<div class="media-object pull-left img-thumbnail" style="width: 120px;">
		<static-image image="article.image"></static-image>
	</div>

	<div class="inner media-body">
		<h1 class="h5" ng-bind-html="article.title" class="media-heading"></h1>
		<p class="small">
			<span ng-show="article.feature_type" ng-bind-html="article.feature_type"></span>
			<span ng-show="article.ratings[0].media_item.show && article.feature_type">&middot;</span>
			<span ng-show="article.ratings[0].media_item.show" ng-bind-html="article.ratings[0].media_item.show"></span><br />
			<span ng-show="article.published" ng-bind-html="article.published|date: '\'Published\' M/d\' @ \' h:mm a' "></span>
		</p>
	</div>
</div>
