<div class="rating">
	<input type="text" class="letter {{article.tags.0.slug}}" maxlength="2" placeholder="C" ng-model="article.ratings[index].grade" />
    <div class="media" ng-include="mediaItemTemplate()" style="overflow: visible;" />
    <div class="media-search">
        <ul ng-repeat="result in searchResults" class="media-list">
          <li class="media">
            <a class="pull-left" href="#">
              <img class="media-object" ng-src="{{ result.thumb }}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ result.label }}</h4>
            </div>
          </li>
        </ul>
    </div>
</div>