<div
    class="input-list {{ name }} bulbs-autocomplete col-sm-8">
  <label
      for="{{ name }}-input"
      class="input-label col-xs-12">
    <span>{{ label }}</span>
    <span
        ng-if="labelSub"
        class="input-container-label-sub">
      {{ labelSub }}
    </span>
  </label>
  <div class="col-sm-4 form-group">
    <input
        id="{{ name }}-input"
        name="{{ name }}"
        type="text"
        class="new-tag-input form-control input-sm"
        placeholder="{{ placeholder }}" />
  </div>
  <div class="col-sm-8">
    <ul class="list-inline">
      <li
          class="label {{ name }} tag taglikeobject"
          ng-repeat="object in objects"
          ng-class="{newtag: object.new}">
        <span class="{{ name }}-span">
          {{ display(object) }}
        </span>
        <a
            href=""
            class="remove"
            ng-click="delete($event);"
            data-taglikeobject="{{ object }}">
          <span class="fa fa-times"></span>
        </a>
      </li>
    </ul>
  </div>
</div>
