<div class="row input-list {{name}} bulbs-autocomplete {{div1classes}}">
  <h1 class="{{h1classes}} {{name}}"><label for="{{name}}-input" class="control-label">{{label}}</label></h1>
      <div class="{{div2classes}}">
        <input id="{{name}}-input" name="{{name}}" type="text" class="new-tag-input form-control input-sm" placeholder="{{placeholder}}" /></div>
      <div class="{{div3classes}}">
        <ul class="list-inline">
          <li class="label {{name}} tag taglikeobject" ng-repeat="object in objects" ng-class="{newtag: object.new}">
            <span class="{{name}}-span">
              {{display(object)}}</span>
            <a href="" class="remove" ng-click='delete($event);' data-taglikeobject='{{object}}'>
              <span class='glyphicon glyphicon-remove'></span></a></li></ul></div></div>