<div class="input-list {{name}} bulbs-autocomplete col-sm-8">
  <h1 class="h6 col-xs-12 {{name}}"><label for="{{name}}-input" class="control-label">{{label}}</label></h1>
      <div class="col-sm-4 form-group">
        <input id="{{name}}-input" name="{{name}}" type="text" class="new-tag-input form-control input-sm" placeholder="{{placeholder}}" /></div>
      <div class="col-sm-8">
        <ul class="list-inline">
          <li class="label {{name}} tag taglikeobject" ng-repeat="object in objects" ng-class="{newtag: object.new}">
            <span class="{{name}}-span">
              {{display(object)}}</span>
            <a href="" class="remove" ng-click='delete($event);' data-taglikeobject='{{object}}'>
              <span class='glyphicon glyphicon-remove'></span></a></li></ul></div></div>