<style>
	.targeting-group{
		border: 1px solid rgba(161, 191, 215, 1);
		border-radius: 4px;
		margin: 0 0 10px 0;
		padding: 5px;
        clear: left;
	}
	.targeting-row .form-control{
		float: left;
		margin: 5px 2px 5px 2px;
	}
	.targeting-row-container{
		margin: 0px auto 0px auto;
	}
	.add-targeting-button{
		margin: 4px auto 4px auto;
	}
</style>

<div class="targeting-group" ng-show="targetingArray.length > 0">
		<div class="targeting-row" ng-repeat="t in targetingArray">
			<div class="targeting-row-container row">
				<div class="col-md-5">
					<label for="key">
						Key
						<input name="key" type="text" placeholder="Key" class="form-control" ng-model="targetingArray[$index][0]">
					</label>
				</div>
				<div class="col-md-5">
					<label for="value">
						Value
						<input name="value" type="text" placeholder="Value" class="form-control" ng-model="targetingArray[$index][1]">
					</label>
				</div>
				<div class="col-md-2">
					<label>
						Delete
						<button class="btn btn-danger form-control" type="submit" ng-click="removeTargetingRow($index);">
						<i class="glyphicon glyphicon-remove"></i></button>
					</label>
				</div>
			</div>
		</div>
	<button class="btn btn-success btn-sm form-control add-targeting-button" type="submit" ng-click="addTargetingRow($index);"><i class="glyphicon glyphicon-plus"></i> Add Row</button>
</div>