<div id="trash-modal"
	class="modal fade edit-page"
	tabindex="-1"
	role="dialog"
	aria-labelledby="trash"
	aria-hidden="true"
	data-backdrop="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Trash</h4>
			</div><!--/modal-header-->
			<div class="modal-body">
				<div class="extra-info-section">
					<label>Trash</label>
					<button class="btn btn-danger form-control" ng-click="trashContent(article.id);"><span class="glyphicon glyphicon-trash"> Trash</span></button>
				</div>
			</div><!--/modal-body-->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Done</button>
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->

<div id="confirm-trash-modal"
	class="modal fade edit-page"
	tabindex="-1"
	role="dialog"
	aria-labelledby="confirm-trash"
	aria-hidden="true"
	data-backdrop="true">

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete content</h4>
			</div><!--/modal-header-->
			<div class="modal-body">
				Are you sure you want to delete this content?
			</div><!--/modal-body-->
            <div class="modal-footer">

                <button class="btn btn-link" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button id="trash-confirm-button" class="btn btn-danger" aria-hidden="true" ng-click="trashContent(true);">Delete</button>
            </div><!--/modal-footer-->
        </div><!--/modal-content-->
    </div><!--/modal-dialog-->
</div><!--/modal-->

<script>
	$("#confirm-trash-modal").on("hidden.bs.modal", function(){
		$("#confirm-trash-modal #trash-confirm-button").html("Yes");
	});
</script>