<div ng-if="article.video" class="video-embed-container" style="position: relative;">
  <video-embed video-id="{{article.video}}"></video-embed>
  <div style="position: absolute; top: 2%; right: 1%;">
    <button ng-click="thumbnailModal();" class="btn btn-info"><span class="fa fa-picture-o"></span></button>
    <button ng-click="removeVideo();" class="btn btn-danger"><span class="fa fa-trash-o"></span></button></div>
</div>
<div ng-if="!article.video && !uploadProgress" class="video-upload-container" style="position: relative;">
  <button ng-click="uploadVideo();" class="btn btn-success" style="width: 100%;"><span class="fa fa-film"></span> Upload Video</button>
</div>
<div ng-if="!article.video && uploadProgress">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{uploadProgress}}%;">
      <span class="sr-only">60% Complete</span>
    </div>
  </div>
</div>