<top-bar
  logo-href="/cms/app/notification/"
  save-function="saveModel"
  save-disable-when="model.$dirty().length === 0 && !isNew && !needsSave">
</top-bar>

<div class="container col-xs-offset-2 col-xs-8">
  <h3>
      <a href="/cms/app/notifications/">Notifications</a>
      &gt;
      <span ng-if="isNew && !model.internalName">New Notification</span>
      <span ng-if="!isNew || model.internalName">{{ model.internalTitle }}</span>
  </h3>
  <div class="row well">
    <div class="row col-md-12">
      <div class="form-group col-md-8">
        <label for="notificationInternalTitle">Internal Title <small>(only used in CMS)</small></label>
        <input
            id="notificationInternalTitle"
            placeholder="e.g. Rio Primer Joke"
            type="text"
            ng-model="model.internalTitle"
            class="form-control">
      </div>

      <div class="form-group col-md-4">
        <button
            id="notificationPublish"
            class="btn"
            ng-click="model.isPublished = !model.isPublished"
            ng-class="{
              'btn-danger': model.isPublished,
              'btn-info': !model.isPublished
            }">
            <span
              class="fa"
              ng-class="{
                'fa-times': model.isPublished,
                'fa-check': !model.isPublished
              }"></span>
            <span>{{ model.isPublished ? 'Unpublish' : 'Publish' }}</span>
        </button>
      </div>

      <div class="form-group col-md-8">
        <label for="notificationHeadline">Headline <small>(optional)</small></label>
        <input
            id="notificationHeadline"
            placeholder="e.g. Rio Primer Joke"
            type="text"
            ng-model="model.headline"
            class="form-control">
      </div>
    </div>
    <div class="row col-md-8">
      <div class="form-group col-md-12">
        <label for="notificationBody">Text <small>(copy that will display on site)</small></label>
        <textarea
            id="notificationBody"
            placeholder="Notification copy that will display on site."
            type="text"
            ng-model="model.body"
            class="form-control">
        </textarea>
      </div>
    </div>
    <div class="row col-md-8">
      <div class="form-group col-md-7">
        <label for="notificationClickThroughUrl">Click Through URL</label>
        <input
            id="notificationClickThroughUrl"
            placeholder="e.g. http://www."
            type="text"
            ng-model="model.clickthroughUrl"
            class="form-control">
      </div>
      <div class="form-group col-md-5">
        <label for="notificationClickThroughMessaging">Click Through Messaging</label>
        <input
            id="notificationClickThroughMessaging"
            placeholder="e.g. Read More"
            type="text"
            ng-model="model.clickthroughCta"
            class="form-control">
      </div>
    </div>
  </div>
</div>
