<h3>Search Content</h3>
<div class="row">
  <filter-widget class="col-xs-12"></filter-widget>
  <status-filter class="col-xs-12 form-group"></status-filter>
</div>
<div
    class="article-wrapper"
    ng-repeat="article in pzoneData.allContent.content">
  <!-- actionable article -->
  <div
      ng-if="contentIsEnabled(article)">
    <promoted-content-article
        class="actionable-content"
        article="article"
        ng-click="(toolsOpenFor(article) && closeTools()) || openToolsFor(article)">
    </promoted-content-article>
    <div
        ng-if="toolsOpenFor(article)"
        class="article-tools">
      <button
          class="btn btn-xs btn-primary"
          ng-disabled="pzoneData.action"
          ng-click="beginInsert(article)">
        <i class="glyphicon glyphicon-plus"></i>
        Insert
      </button>
      <button
          class="btn btn-xs btn-primary"
          ng-disabled="pzoneData.action"
          ng-click="beginReplace(article)">
        <i class="glyphicon glyphicon-transfer"></i>
        Replace
      </button>
      <button
          class="btn btn-xs btn-danger"
          ng-show="pzoneData.action"
          ng-click="stopAction()">
        <i class="glyphicon glyphicon-remove"></i>
        Cancel
      </button>
      <a
          class="btn-edit-article"
          href="/cms/app/edit/{{article.id}}"
          target="_blank">
        <button
            class="btn btn-xs btn-info">
          <i class="fa fa-pencil"></i>
          <span>Edit...</span>
        </button>
      </a>
    </div>
  </div>
  <!-- non-actionable article -->
  <div
      ng-if="!contentIsEnabled(article)"
      tooltip="This article cannot be promoted because it is unpublished, occurs after selected time, you are viewing a past list, or it is already in this list."
      tooltip-placement="left"
      tooltip-trigger="mouseenter">
    <promoted-content-article
        class="non-actionable-content"
        article="article">
    </promoted-content-article>
  </div>
</div>
<pagination
    max-size="10"
    total-items="pzoneData.allContent.content.metadata.count"
    ng-model="pageNumber"
    items-per-page="20"
    ng-change="goToPage()"
    boundary-links="true"
    first-text="<<"
    previous-text="<"
    next-text=">"
    last-text=">>">
</pagination>
