<div class="super-feature-list-title">
  <span class="bold">Current List</span>
  <span>
    Items in List:
    <span class="bold">{{ super_features.length }}</span>
  </span>
</div>

<autocomplete-basic
    class="form-control"
    item-display-formatter="item.title"
    on-select="addSuperFeature(selection.value); $parent.needsSave = true"
    input-placeholder="Search Super Features..."
    search-function="searchSuperFeature">
</autocomplete-basic>

<ul
    class="super-feature-list-super-features"
    ng-if="super_features.length > 0"
    ui-sortable="sortableOptions"
    ng-model="super_features">
  <li ng-repeat="super_feature in super_features">
    <div class="wrapper-tools">
      <button
          class="btn btn-danger rm-btn"
          ng-click="delete($index)">
        <i class="glyphicon glyphicon-remove"></i>
      </button>
      <button
          class="btn btn-info up-btn"
          ng-click="moveUp($index)"
          ng-disabled="$first">
        <i class="glyphicon glyphicon-chevron-up"></i>
      </button>
      <button
          class="btn btn-info dn-btn"
          ng-click="moveDown($index)"
          ng-disabled="$last">
        <i class="glyphicon glyphicon-chevron-down"></i>
      </button>
    </div>
    <super-features-tab-item
        model="super_feature">
    </super-features-tab-item>
  </li>
</ul>
